/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.miccn-form-item .miccn-mentions,
.miccn-form-item textarea.miccn-input {
  height: auto;
}
.miccn-form-item .miccn-upload {
  background: transparent;
}
.miccn-form-item .miccn-upload.miccn-upload-drag {
  background: #fafafa;
}
.miccn-form-item input[type='radio'],
.miccn-form-item input[type='checkbox'] {
  width: 14px;
  height: 14px;
}
.miccn-form-item .miccn-radio-inline,
.miccn-form-item .miccn-checkbox-inline {
  display: inline-block;
  margin-left: 8px;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}
.miccn-form-item .miccn-radio-inline:first-child,
.miccn-form-item .miccn-checkbox-inline:first-child {
  margin-left: 0;
}
.miccn-form-item .miccn-checkbox-vertical,
.miccn-form-item .miccn-radio-vertical {
  display: block;
}
.miccn-form-item .miccn-checkbox-vertical + .miccn-checkbox-vertical,
.miccn-form-item .miccn-radio-vertical + .miccn-radio-vertical {
  margin-left: 0;
}
.miccn-form-item .miccn-input-number + .miccn-form-text {
  margin-left: 8px;
}
.miccn-form-item .miccn-input-number-handler-wrap {
  z-index: 2;
}
.miccn-form-item .miccn-select,
.miccn-form-item .miccn-cascader-picker {
  width: 100%;
}
.miccn-form-item .miccn-input-group .miccn-select,
.miccn-form-item .miccn-input-group .miccn-cascader-picker {
  width: auto;
}
.miccn-form-inline {
  display: flex;
  flex-wrap: wrap;
}
.miccn-form-inline .miccn-form-item {
  flex: none;
  flex-wrap: nowrap;
  margin-right: 16px;
  margin-bottom: 0;
}
.miccn-form-inline .miccn-form-item-with-help {
  margin-bottom: 24px;
}
.miccn-form-inline .miccn-form-item > .miccn-form-item-label,
.miccn-form-inline .miccn-form-item > .miccn-form-item-control {
  display: inline-block;
  vertical-align: top;
}
.miccn-form-inline .miccn-form-item > .miccn-form-item-label {
  flex: none;
}
.miccn-form-inline .miccn-form-item .miccn-form-text {
  display: inline-block;
}
.miccn-form-inline .miccn-form-item .miccn-form-item-has-feedback {
  display: inline-block;
}
.miccn-form-horizontal .miccn-form-item-label {
  flex-grow: 0;
}
.miccn-form-horizontal .miccn-form-item-control {
  flex: 1 1 0;
}
.miccn-form-vertical .miccn-form-item {
  flex-direction: column;
}
.miccn-form-vertical .miccn-form-item-label > label {
  height: auto;
}
.miccn-form-vertical .miccn-form-item-label,
.miccn-col-24.miccn-form-item-label,
.miccn-col-xl-24.miccn-form-item-label {
  padding: 0 0 8px;
  line-height: 1.5715;
  white-space: initial;
  text-align: left;
}
.miccn-form-vertical .miccn-form-item-label > label,
.miccn-col-24.miccn-form-item-label > label,
.miccn-col-xl-24.miccn-form-item-label > label {
  margin: 0;
}
.miccn-form-vertical .miccn-form-item-label > label::after,
.miccn-col-24.miccn-form-item-label > label::after,
.miccn-col-xl-24.miccn-form-item-label > label::after {
  display: none;
}
.miccn-form-rtl.miccn-form-vertical .miccn-form-item-label,
.miccn-form-rtl.miccn-col-24.miccn-form-item-label,
.miccn-form-rtl.miccn-col-xl-24.miccn-form-item-label {
  text-align: right;
}
@media (max-width: 575px) {
  .miccn-form-item .miccn-form-item-label {
    padding: 0 0 8px;
    line-height: 1.5715;
    white-space: initial;
    text-align: left;
  }
  .miccn-form-item .miccn-form-item-label > label {
    margin: 0;
  }
  .miccn-form-item .miccn-form-item-label > label::after {
    display: none;
  }
  .miccn-form-rtl.miccn-form-item .miccn-form-item-label {
    text-align: right;
  }
  .miccn-form .miccn-form-item {
    flex-wrap: wrap;
  }
  .miccn-form .miccn-form-item .miccn-form-item-label,
  .miccn-form .miccn-form-item .miccn-form-item-control {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .miccn-col-xs-24.miccn-form-item-label {
    padding: 0 0 8px;
    line-height: 1.5715;
    white-space: initial;
    text-align: left;
  }
  .miccn-col-xs-24.miccn-form-item-label > label {
    margin: 0;
  }
  .miccn-col-xs-24.miccn-form-item-label > label::after {
    display: none;
  }
  .miccn-form-rtl.miccn-col-xs-24.miccn-form-item-label {
    text-align: right;
  }
}
@media (max-width: 767px) {
  .miccn-col-sm-24.miccn-form-item-label {
    padding: 0 0 8px;
    line-height: 1.5715;
    white-space: initial;
    text-align: left;
  }
  .miccn-col-sm-24.miccn-form-item-label > label {
    margin: 0;
  }
  .miccn-col-sm-24.miccn-form-item-label > label::after {
    display: none;
  }
  .miccn-form-rtl.miccn-col-sm-24.miccn-form-item-label {
    text-align: right;
  }
}
@media (max-width: 991px) {
  .miccn-col-md-24.miccn-form-item-label {
    padding: 0 0 8px;
    line-height: 1.5715;
    white-space: initial;
    text-align: left;
  }
  .miccn-col-md-24.miccn-form-item-label > label {
    margin: 0;
  }
  .miccn-col-md-24.miccn-form-item-label > label::after {
    display: none;
  }
  .miccn-form-rtl.miccn-col-md-24.miccn-form-item-label {
    text-align: right;
  }
}
@media (max-width: 1199px) {
  .miccn-col-lg-24.miccn-form-item-label {
    padding: 0 0 8px;
    line-height: 1.5715;
    white-space: initial;
    text-align: left;
  }
  .miccn-col-lg-24.miccn-form-item-label > label {
    margin: 0;
  }
  .miccn-col-lg-24.miccn-form-item-label > label::after {
    display: none;
  }
  .miccn-form-rtl.miccn-col-lg-24.miccn-form-item-label {
    text-align: right;
  }
}
@media (max-width: 1599px) {
  .miccn-col-xl-24.miccn-form-item-label {
    padding: 0 0 8px;
    line-height: 1.5715;
    white-space: initial;
    text-align: left;
  }
  .miccn-col-xl-24.miccn-form-item-label > label {
    margin: 0;
  }
  .miccn-col-xl-24.miccn-form-item-label > label::after {
    display: none;
  }
  .miccn-form-rtl.miccn-col-xl-24.miccn-form-item-label {
    text-align: right;
  }
}
.miccn-form-item {
  /* Some non-status related component style is in `components.less` */
  /* To support leave along ErrorList. We add additional className to handle explain style */
}
.miccn-form-item-explain.miccn-form-item-explain-error {
  color: #ff4d4f;
}
.miccn-form-item-explain.miccn-form-item-explain-warning {
  color: #faad14;
}
.miccn-form-item-has-feedback .miccn-input {
  padding-right: 24px;
}
.miccn-form-item-has-feedback .miccn-input-affix-wrapper .miccn-input-suffix {
  padding-right: 18px;
}
.miccn-form-item-has-feedback .miccn-input-search:not(.miccn-input-search-enter-button) .miccn-input-suffix {
  right: 28px;
}
.miccn-form-item-has-feedback .miccn-switch {
  margin: 2px 0 4px;
}
.miccn-form-item-has-feedback > .miccn-select .miccn-select-arrow,
.miccn-form-item-has-feedback > .miccn-select .miccn-select-clear,
.miccn-form-item-has-feedback :not(.miccn-input-group-addon) > .miccn-select .miccn-select-arrow,
.miccn-form-item-has-feedback :not(.miccn-input-group-addon) > .miccn-select .miccn-select-clear {
  right: 32px;
}
.miccn-form-item-has-feedback > .miccn-select .miccn-select-selection-selected-value,
.miccn-form-item-has-feedback :not(.miccn-input-group-addon) > .miccn-select .miccn-select-selection-selected-value {
  padding-right: 42px;
}
.miccn-form-item-has-feedback .miccn-cascader-picker-arrow {
  margin-right: 19px;
}
.miccn-form-item-has-feedback .miccn-cascader-picker-clear {
  right: 32px;
}
.miccn-form-item-has-feedback .miccn-picker {
  padding-right: 29.2px;
}
.miccn-form-item-has-feedback .miccn-picker-large {
  padding-right: 29.2px;
}
.miccn-form-item-has-feedback .miccn-picker-small {
  padding-right: 25.2px;
}
.miccn-form-item-has-feedback.miccn-form-item-has-success .miccn-form-item-children-icon,
.miccn-form-item-has-feedback.miccn-form-item-has-warning .miccn-form-item-children-icon,
.miccn-form-item-has-feedback.miccn-form-item-has-error .miccn-form-item-children-icon,
.miccn-form-item-has-feedback.miccn-form-item-is-validating .miccn-form-item-children-icon {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  width: 32px;
  height: 20px;
  margin-top: -10px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  visibility: visible;
  animation: zoomIn 0.3s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  pointer-events: none;
}
.miccn-form-item-has-success.miccn-form-item-has-feedback .miccn-form-item-children-icon {
  color: #52c41a;
  animation-name: diffZoomIn1 !important;
}
.miccn-form-item-has-warning .miccn-form-item-split {
  color: #faad14;
}
.miccn-form-item-has-warning .miccn-input,
.miccn-form-item-has-warning .miccn-input-affix-wrapper,
.miccn-form-item-has-warning .miccn-input:hover,
.miccn-form-item-has-warning .miccn-input-affix-wrapper:hover {
  background-color: #fff;
  border-color: #faad14;
}
.miccn-form-item-has-warning .miccn-input:focus,
.miccn-form-item-has-warning .miccn-input-affix-wrapper:focus,
.miccn-form-item-has-warning .miccn-input-focused,
.miccn-form-item-has-warning .miccn-input-affix-wrapper-focused {
  border-color: #ffc53d;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(250, 173, 20, 0.2);
}
.miccn-form-item-has-warning .miccn-input-disabled {
  background-color: #f5f5f5;
  border-color: #d9d9d9;
}
.miccn-form-item-has-warning .miccn-input-affix-wrapper-disabled {
  background-color: #f5f5f5;
  border-color: #d9d9d9;
}
.miccn-form-item-has-warning .miccn-input-affix-wrapper-disabled input:focus {
  box-shadow: none !important;
}
.miccn-form-item-has-warning .miccn-calendar-picker-open .miccn-calendar-picker-input {
  border-color: #ffc53d;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(250, 173, 20, 0.2);
}
.miccn-form-item-has-warning .miccn-input-prefix {
  color: #faad14;
}
.miccn-form-item-has-warning .miccn-input-group-addon {
  color: #faad14;
  border-color: #faad14;
}
.miccn-form-item-has-warning .has-feedback {
  color: #faad14;
}
.miccn-form-item-has-warning.miccn-form-item-has-feedback .miccn-form-item-children-icon {
  color: #faad14;
  animation-name: diffZoomIn3 !important;
}
.miccn-form-item-has-warning .miccn-select:not(.miccn-select-disabled):not(.miccn-select-customize-input) .miccn-select-selector {
  background-color: #fff;
  border-color: #faad14 !important;
}
.miccn-form-item-has-warning .miccn-select:not(.miccn-select-disabled):not(.miccn-select-customize-input).miccn-select-open .miccn-select-selector,
.miccn-form-item-has-warning .miccn-select:not(.miccn-select-disabled):not(.miccn-select-customize-input).miccn-select-focused .miccn-select-selector {
  border-color: #ffc53d;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(250, 173, 20, 0.2);
}
.miccn-form-item-has-warning .miccn-input-number,
.miccn-form-item-has-warning .miccn-picker {
  background-color: #fff;
  border-color: #faad14;
}
.miccn-form-item-has-warning .miccn-input-number-focused,
.miccn-form-item-has-warning .miccn-picker-focused,
.miccn-form-item-has-warning .miccn-input-number:focus,
.miccn-form-item-has-warning .miccn-picker:focus {
  border-color: #ffc53d;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(250, 173, 20, 0.2);
}
.miccn-form-item-has-warning .miccn-input-number:not([disabled]):hover,
.miccn-form-item-has-warning .miccn-picker:not([disabled]):hover {
  background-color: #fff;
  border-color: #faad14;
}
.miccn-form-item-has-warning .miccn-cascader-picker:focus .miccn-cascader-input {
  border-color: #ffc53d;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(250, 173, 20, 0.2);
}
.miccn-form-item-has-error .miccn-form-item-split {
  color: #ff4d4f;
}
.miccn-form-item-has-error .miccn-input,
.miccn-form-item-has-error .miccn-input-affix-wrapper,
.miccn-form-item-has-error .miccn-input:hover,
.miccn-form-item-has-error .miccn-input-affix-wrapper:hover {
  background-color: #fff;
  border-color: #ff4d4f;
}
.miccn-form-item-has-error .miccn-input:focus,
.miccn-form-item-has-error .miccn-input-affix-wrapper:focus,
.miccn-form-item-has-error .miccn-input-focused,
.miccn-form-item-has-error .miccn-input-affix-wrapper-focused {
  border-color: #ff7875;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.2);
}
.miccn-form-item-has-error .miccn-input-disabled {
  background-color: #f5f5f5;
  border-color: #d9d9d9;
}
.miccn-form-item-has-error .miccn-input-affix-wrapper-disabled {
  background-color: #f5f5f5;
  border-color: #d9d9d9;
}
.miccn-form-item-has-error .miccn-input-affix-wrapper-disabled input:focus {
  box-shadow: none !important;
}
.miccn-form-item-has-error .miccn-calendar-picker-open .miccn-calendar-picker-input {
  border-color: #ff7875;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.2);
}
.miccn-form-item-has-error .miccn-input-prefix {
  color: #ff4d4f;
}
.miccn-form-item-has-error .miccn-input-group-addon {
  color: #ff4d4f;
  border-color: #ff4d4f;
}
.miccn-form-item-has-error .has-feedback {
  color: #ff4d4f;
}
.miccn-form-item-has-error.miccn-form-item-has-feedback .miccn-form-item-children-icon {
  color: #ff4d4f;
  animation-name: diffZoomIn2 !important;
}
.miccn-form-item-has-error .miccn-select:not(.miccn-select-disabled):not(.miccn-select-customize-input) .miccn-select-selector {
  background-color: #fff;
  border-color: #ff4d4f !important;
}
.miccn-form-item-has-error .miccn-select:not(.miccn-select-disabled):not(.miccn-select-customize-input).miccn-select-open .miccn-select-selector,
.miccn-form-item-has-error .miccn-select:not(.miccn-select-disabled):not(.miccn-select-customize-input).miccn-select-focused .miccn-select-selector {
  border-color: #ff7875;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.2);
}
.miccn-form-item-has-error .miccn-input-group-addon .miccn-select.miccn-select-single:not(.miccn-select-customize-input) .miccn-select-selector {
  border: 0;
}
.miccn-form-item-has-error .miccn-select.miccn-select-auto-complete .miccn-input:focus {
  border-color: #ff4d4f;
}
.miccn-form-item-has-error .miccn-input-number,
.miccn-form-item-has-error .miccn-picker {
  background-color: #fff;
  border-color: #ff4d4f;
}
.miccn-form-item-has-error .miccn-input-number-focused,
.miccn-form-item-has-error .miccn-picker-focused,
.miccn-form-item-has-error .miccn-input-number:focus,
.miccn-form-item-has-error .miccn-picker:focus {
  border-color: #ff7875;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.2);
}
.miccn-form-item-has-error .miccn-input-number:not([disabled]):hover,
.miccn-form-item-has-error .miccn-picker:not([disabled]):hover {
  background-color: #fff;
  border-color: #ff4d4f;
}
.miccn-form-item-has-error .miccn-mention-wrapper .miccn-mention-editor,
.miccn-form-item-has-error .miccn-mention-wrapper .miccn-mention-editor:not([disabled]):hover {
  background-color: #fff;
  border-color: #ff4d4f;
}
.miccn-form-item-has-error .miccn-mention-wrapper.miccn-mention-active:not([disabled]) .miccn-mention-editor,
.miccn-form-item-has-error .miccn-mention-wrapper .miccn-mention-editor:not([disabled]):focus {
  border-color: #ff7875;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.2);
}
.miccn-form-item-has-error .miccn-cascader-picker:focus .miccn-cascader-input {
  background-color: #fff;
  border-color: #ff7875;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.2);
}
.miccn-form-item-has-error .miccn-transfer-list {
  border-color: #ff4d4f;
}
.miccn-form-item-has-error .miccn-transfer-list-search:not([disabled]) {
  border-color: #d9d9d9;
}
.miccn-form-item-has-error .miccn-transfer-list-search:not([disabled]):hover {
  border-color: #2930ff;
  border-right-width: 1px !important;
}
.miccn-form-item-has-error .miccn-transfer-list-search:not([disabled]):focus {
  border-color: #2930ff;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(0, 0, 255, 0.2);
}
.miccn-form-item-has-error .miccn-radio-button-wrapper {
  border-color: #ff4d4f !important;
}
.miccn-form-item-has-error .miccn-radio-button-wrapper:not(:first-child)::before {
  background-color: #ff4d4f;
}
.miccn-form-item-is-validating.miccn-form-item-has-feedback .miccn-form-item-children-icon {
  display: inline-block;
  color: #00f;
}
.miccn-form {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
}
.miccn-form legend {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 0;
  color: rgba(0, 0, 0, 0.45);
  font-size: 16px;
  line-height: inherit;
  border: 0;
  border-bottom: 1px solid #d9d9d9;
}
.miccn-form label {
  font-size: 14px;
}
.miccn-form input[type='search'] {
  box-sizing: border-box;
}
.miccn-form input[type='radio'],
.miccn-form input[type='checkbox'] {
  line-height: normal;
}
.miccn-form input[type='file'] {
  display: block;
}
.miccn-form input[type='range'] {
  display: block;
  width: 100%;
}
.miccn-form select[multiple],
.miccn-form select[size] {
  height: auto;
}
.miccn-form input[type='file']:focus,
.miccn-form input[type='radio']:focus,
.miccn-form input[type='checkbox']:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.miccn-form output {
  display: block;
  padding-top: 15px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  line-height: 1.5715;
}
.miccn-form .miccn-form-text {
  display: inline-block;
  padding-right: 8px;
}
.miccn-form-small .miccn-form-item-label > label {
  height: 24px;
}
.miccn-form-small .miccn-form-item-control-input {
  min-height: 24px;
}
.miccn-form-large .miccn-form-item-label > label {
  height: 40px;
}
.miccn-form-large .miccn-form-item-control-input {
  min-height: 40px;
}
.miccn-form-item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  margin-bottom: 24px;
  vertical-align: top;
}
.miccn-form-item-with-help {
  margin-bottom: 0;
}
.miccn-form-item-hidden,
.miccn-form-item-hidden.miccn-row {
  display: none;
}
.miccn-form-item-label {
  display: inline-block;
  flex-grow: 0;
  overflow: hidden;
  white-space: nowrap;
  text-align: right;
  vertical-align: middle;
}
.miccn-form-item-label-left {
  text-align: left;
}
.miccn-form-item-label > label {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 32px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
}
.miccn-form-item-label > label > .anticon {
  font-size: 14px;
  vertical-align: top;
}
.miccn-form-item-label > label.miccn-form-item-required:not(.miccn-form-item-required-mark-optional)::before {
  display: inline-block;
  margin-right: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: '*';
}
.miccn-form-hide-required-mark .miccn-form-item-label > label.miccn-form-item-required:not(.miccn-form-item-required-mark-optional)::before {
  display: none;
}
.miccn-form-item-label > label .miccn-form-item-optional {
  display: inline-block;
  margin-left: 4px;
  color: rgba(0, 0, 0, 0.45);
}
.miccn-form-hide-required-mark .miccn-form-item-label > label .miccn-form-item-optional {
  display: none;
}
.miccn-form-item-label > label .miccn-form-item-tooltip {
  writing-mode: horizontal-tb;
  margin-inline-start: 4px;
  color: rgba(0, 0, 0, 0.45);
}
.miccn-form-item-label > label::after {
  content: ':';
  position: relative;
  top: -0.5px;
  margin: 0 8px 0 2px;
}
.miccn-form-item-label > label.miccn-form-item-no-colon::after {
  content: ' ';
}
.miccn-form-item-control {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.miccn-form-item-control:first-child:not([class^='miccn-col-']):not([class*=' miccn-col-']) {
  width: 100%;
}
.miccn-form-item-control-input {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 32px;
}
.miccn-form-item-control-input-content {
  flex: auto;
  max-width: 100%;
}
.miccn-form-item-explain,
.miccn-form-item-extra {
  clear: both;
  min-height: 24px;
  padding-top: 0px;
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
  line-height: 1.5715;
  transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.miccn-form-item .miccn-input-textarea-show-count::after {
  position: absolute;
  bottom: -22px;
  width: 100%;
}
.show-help-enter,
.show-help-appear {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.show-help-leave {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.show-help-enter.show-help-enter-active,
.show-help-appear.show-help-appear-active {
  animation-name: antShowHelpIn;
  animation-play-state: running;
}
.show-help-leave.show-help-leave-active {
  animation-name: antShowHelpOut;
  animation-play-state: running;
  pointer-events: none;
}
.show-help-enter,
.show-help-appear {
  opacity: 0;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
.show-help-leave {
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
@keyframes antShowHelpIn {
  0% {
    transform: translateY(-5px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes antShowHelpOut {
  to {
    transform: translateY(-5px);
    opacity: 0;
  }
}
@keyframes diffZoomIn1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes diffZoomIn2 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes diffZoomIn3 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.miccn-form-rtl {
  direction: rtl;
}
.miccn-form-rtl .miccn-form-item-label {
  text-align: left;
}
.miccn-form-rtl .miccn-form-item-label > label.miccn-form-item-required::before {
  margin-right: 0;
  margin-left: 4px;
}
.miccn-form-rtl .miccn-form-item-label > label::after {
  margin: 0 2px 0 8px;
}
.miccn-form-rtl .miccn-form-item-label > label .miccn-form-item-optional {
  margin-right: 4px;
  margin-left: 0;
}
.miccn-col-rtl .miccn-form-item-control:first-child {
  width: 100%;
}
.miccn-form-rtl .miccn-form-item-has-feedback .miccn-input {
  padding-right: 11px;
  padding-left: 24px;
}
.miccn-form-rtl .miccn-form-item-has-feedback .miccn-input-affix-wrapper .miccn-input-suffix {
  padding-right: 11px;
  padding-left: 18px;
}
.miccn-form-rtl .miccn-form-item-has-feedback .miccn-input-affix-wrapper .miccn-input {
  padding: 0;
}
.miccn-form-rtl .miccn-form-item-has-feedback .miccn-input-search:not(.miccn-input-search-enter-button) .miccn-input-suffix {
  right: auto;
  left: 28px;
}
.miccn-form-rtl .miccn-form-item-has-feedback .miccn-input-number {
  padding-left: 18px;
}
.miccn-form-rtl .miccn-form-item-has-feedback > .miccn-select .miccn-select-arrow,
.miccn-form-rtl .miccn-form-item-has-feedback > .miccn-select .miccn-select-clear,
.miccn-form-rtl .miccn-form-item-has-feedback :not(.miccn-input-group-addon) > .miccn-select .miccn-select-arrow,
.miccn-form-rtl .miccn-form-item-has-feedback :not(.miccn-input-group-addon) > .miccn-select .miccn-select-clear {
  right: auto;
  left: 32px;
}
.miccn-form-rtl .miccn-form-item-has-feedback > .miccn-select .miccn-select-selection-selected-value,
.miccn-form-rtl .miccn-form-item-has-feedback :not(.miccn-input-group-addon) > .miccn-select .miccn-select-selection-selected-value {
  padding-right: 0;
  padding-left: 42px;
}
.miccn-form-rtl .miccn-form-item-has-feedback .miccn-cascader-picker-arrow {
  margin-right: 0;
  margin-left: 19px;
}
.miccn-form-rtl .miccn-form-item-has-feedback .miccn-cascader-picker-clear {
  right: auto;
  left: 32px;
}
.miccn-form-rtl .miccn-form-item-has-feedback .miccn-picker {
  padding-right: 11px;
  padding-left: 29.2px;
}
.miccn-form-rtl .miccn-form-item-has-feedback .miccn-picker-large {
  padding-right: 11px;
  padding-left: 29.2px;
}
.miccn-form-rtl .miccn-form-item-has-feedback .miccn-picker-small {
  padding-right: 7px;
  padding-left: 25.2px;
}
.miccn-form-rtl .miccn-form-item-has-feedback.miccn-form-item-has-success .miccn-form-item-children-icon,
.miccn-form-rtl .miccn-form-item-has-feedback.miccn-form-item-has-warning .miccn-form-item-children-icon,
.miccn-form-rtl .miccn-form-item-has-feedback.miccn-form-item-has-error .miccn-form-item-children-icon,
.miccn-form-rtl .miccn-form-item-has-feedback.miccn-form-item-is-validating .miccn-form-item-children-icon {
  right: auto;
  left: 0;
}
.miccn-form-rtl.miccn-form-inline .miccn-form-item {
  margin-right: 0;
  margin-left: 16px;
}
