/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.miccn-tooltip {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #222;
  font-size: 13px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  position: absolute;
  z-index: 1070;
  display: block;
  max-width: 250px;
  visibility: visible;
}
.miccn-tooltip-hidden {
  display: none;
}
.miccn-tooltip-placement-top,
.miccn-tooltip-placement-topLeft,
.miccn-tooltip-placement-topRight {
  padding-bottom: 8px;
}
.miccn-tooltip-placement-right,
.miccn-tooltip-placement-rightTop,
.miccn-tooltip-placement-rightBottom {
  padding-left: 8px;
}
.miccn-tooltip-placement-bottom,
.miccn-tooltip-placement-bottomLeft,
.miccn-tooltip-placement-bottomRight {
  padding-top: 8px;
}
.miccn-tooltip-placement-left,
.miccn-tooltip-placement-leftTop,
.miccn-tooltip-placement-leftBottom {
  padding-right: 8px;
}
.miccn-tooltip-inner {
  min-width: 30px;
  min-height: 32px;
  padding: 6px 8px;
  color: #fff;
  text-align: left;
  text-decoration: none;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.miccn-tooltip-arrow {
  position: absolute;
  display: block;
  width: 13.07106781px;
  height: 13.07106781px;
  overflow: hidden;
  background: transparent;
  pointer-events: none;
}
.miccn-tooltip-arrow-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 5px;
  height: 5px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.75);
  content: '';
  pointer-events: auto;
}
.miccn-tooltip-placement-top .miccn-tooltip-arrow,
.miccn-tooltip-placement-topLeft .miccn-tooltip-arrow,
.miccn-tooltip-placement-topRight .miccn-tooltip-arrow {
  bottom: -5.07106781px;
}
.miccn-tooltip-placement-top .miccn-tooltip-arrow-content,
.miccn-tooltip-placement-topLeft .miccn-tooltip-arrow-content,
.miccn-tooltip-placement-topRight .miccn-tooltip-arrow-content {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07);
  transform: translateY(-6.53553391px) rotate(45deg);
}
.miccn-tooltip-placement-top .miccn-tooltip-arrow {
  left: 50%;
  transform: translateX(-50%);
}
.miccn-tooltip-placement-topLeft .miccn-tooltip-arrow {
  left: 13px;
}
.miccn-tooltip-placement-topRight .miccn-tooltip-arrow {
  right: 13px;
}
.miccn-tooltip-placement-right .miccn-tooltip-arrow,
.miccn-tooltip-placement-rightTop .miccn-tooltip-arrow,
.miccn-tooltip-placement-rightBottom .miccn-tooltip-arrow {
  left: -5.07106781px;
}
.miccn-tooltip-placement-right .miccn-tooltip-arrow-content,
.miccn-tooltip-placement-rightTop .miccn-tooltip-arrow-content,
.miccn-tooltip-placement-rightBottom .miccn-tooltip-arrow-content {
  box-shadow: -3px 3px 7px rgba(0, 0, 0, 0.07);
  transform: translateX(6.53553391px) rotate(45deg);
}
.miccn-tooltip-placement-right .miccn-tooltip-arrow {
  top: 50%;
  transform: translateY(-50%);
}
.miccn-tooltip-placement-rightTop .miccn-tooltip-arrow {
  top: 5px;
}
.miccn-tooltip-placement-rightBottom .miccn-tooltip-arrow {
  bottom: 5px;
}
.miccn-tooltip-placement-left .miccn-tooltip-arrow,
.miccn-tooltip-placement-leftTop .miccn-tooltip-arrow,
.miccn-tooltip-placement-leftBottom .miccn-tooltip-arrow {
  right: -5.07106781px;
}
.miccn-tooltip-placement-left .miccn-tooltip-arrow-content,
.miccn-tooltip-placement-leftTop .miccn-tooltip-arrow-content,
.miccn-tooltip-placement-leftBottom .miccn-tooltip-arrow-content {
  box-shadow: 3px -3px 7px rgba(0, 0, 0, 0.07);
  transform: translateX(-6.53553391px) rotate(45deg);
}
.miccn-tooltip-placement-left .miccn-tooltip-arrow {
  top: 50%;
  transform: translateY(-50%);
}
.miccn-tooltip-placement-leftTop .miccn-tooltip-arrow {
  top: 5px;
}
.miccn-tooltip-placement-leftBottom .miccn-tooltip-arrow {
  bottom: 5px;
}
.miccn-tooltip-placement-bottom .miccn-tooltip-arrow,
.miccn-tooltip-placement-bottomLeft .miccn-tooltip-arrow,
.miccn-tooltip-placement-bottomRight .miccn-tooltip-arrow {
  top: -5.07106781px;
}
.miccn-tooltip-placement-bottom .miccn-tooltip-arrow-content,
.miccn-tooltip-placement-bottomLeft .miccn-tooltip-arrow-content,
.miccn-tooltip-placement-bottomRight .miccn-tooltip-arrow-content {
  box-shadow: -3px -3px 7px rgba(0, 0, 0, 0.07);
  transform: translateY(6.53553391px) rotate(45deg);
}
.miccn-tooltip-placement-bottom .miccn-tooltip-arrow {
  left: 50%;
  transform: translateX(-50%);
}
.miccn-tooltip-placement-bottomLeft .miccn-tooltip-arrow {
  left: 13px;
}
.miccn-tooltip-placement-bottomRight .miccn-tooltip-arrow {
  right: 13px;
}
.miccn-tooltip-pink .miccn-tooltip-inner {
  background-color: #eb2f96;
}
.miccn-tooltip-pink .miccn-tooltip-arrow-content {
  background-color: #eb2f96;
}
.miccn-tooltip-magenta .miccn-tooltip-inner {
  background-color: #eb2f96;
}
.miccn-tooltip-magenta .miccn-tooltip-arrow-content {
  background-color: #eb2f96;
}
.miccn-tooltip-red .miccn-tooltip-inner {
  background-color: #f5222d;
}
.miccn-tooltip-red .miccn-tooltip-arrow-content {
  background-color: #f5222d;
}
.miccn-tooltip-volcano .miccn-tooltip-inner {
  background-color: #fa541c;
}
.miccn-tooltip-volcano .miccn-tooltip-arrow-content {
  background-color: #fa541c;
}
.miccn-tooltip-orange .miccn-tooltip-inner {
  background-color: #fa8c16;
}
.miccn-tooltip-orange .miccn-tooltip-arrow-content {
  background-color: #fa8c16;
}
.miccn-tooltip-yellow .miccn-tooltip-inner {
  background-color: #fadb14;
}
.miccn-tooltip-yellow .miccn-tooltip-arrow-content {
  background-color: #fadb14;
}
.miccn-tooltip-gold .miccn-tooltip-inner {
  background-color: #faad14;
}
.miccn-tooltip-gold .miccn-tooltip-arrow-content {
  background-color: #faad14;
}
.miccn-tooltip-cyan .miccn-tooltip-inner {
  background-color: #13c2c2;
}
.miccn-tooltip-cyan .miccn-tooltip-arrow-content {
  background-color: #13c2c2;
}
.miccn-tooltip-lime .miccn-tooltip-inner {
  background-color: #a0d911;
}
.miccn-tooltip-lime .miccn-tooltip-arrow-content {
  background-color: #a0d911;
}
.miccn-tooltip-green .miccn-tooltip-inner {
  background-color: #52c41a;
}
.miccn-tooltip-green .miccn-tooltip-arrow-content {
  background-color: #52c41a;
}
.miccn-tooltip-blue .miccn-tooltip-inner {
  background-color: #1890ff;
}
.miccn-tooltip-blue .miccn-tooltip-arrow-content {
  background-color: #1890ff;
}
.miccn-tooltip-geekblue .miccn-tooltip-inner {
  background-color: #2f54eb;
}
.miccn-tooltip-geekblue .miccn-tooltip-arrow-content {
  background-color: #2f54eb;
}
.miccn-tooltip-purple .miccn-tooltip-inner {
  background-color: #722ed1;
}
.miccn-tooltip-purple .miccn-tooltip-arrow-content {
  background-color: #722ed1;
}
.miccn-tooltip-rtl {
  direction: rtl;
}
.miccn-tooltip-rtl .miccn-tooltip-inner {
  text-align: right;
}
