/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
@keyframes antCheckboxEffect {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}
.jxc-tree-treenode-leaf-last .jxc-tree-switcher-leaf-line::before {
  top: auto !important;
  bottom: auto !important;
  height: 14px !important;
}
.jxc-tree.jxc-tree-directory .jxc-tree-treenode {
  position: relative;
}
.jxc-tree.jxc-tree-directory .jxc-tree-treenode::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 4px;
  left: 0;
  transition: background-color 0.3s;
  content: '';
  pointer-events: none;
}
.jxc-tree.jxc-tree-directory .jxc-tree-treenode:hover::before {
  background: #f5f5f5;
}
.jxc-tree.jxc-tree-directory .jxc-tree-treenode > * {
  z-index: 1;
}
.jxc-tree.jxc-tree-directory .jxc-tree-treenode .jxc-tree-switcher {
  transition: color 0.3s;
}
.jxc-tree.jxc-tree-directory .jxc-tree-treenode .jxc-tree-node-content-wrapper {
  border-radius: 0;
  user-select: none;
}
.jxc-tree.jxc-tree-directory .jxc-tree-treenode .jxc-tree-node-content-wrapper:hover {
  background: transparent;
}
.jxc-tree.jxc-tree-directory .jxc-tree-treenode .jxc-tree-node-content-wrapper.jxc-tree-node-selected {
  color: #fff;
  background: transparent;
}
.jxc-tree.jxc-tree-directory .jxc-tree-treenode-selected:hover::before,
.jxc-tree.jxc-tree-directory .jxc-tree-treenode-selected::before {
  background: #fdf;
}
.jxc-tree.jxc-tree-directory .jxc-tree-treenode-selected .jxc-tree-switcher {
  color: #fff;
}
.jxc-tree.jxc-tree-directory .jxc-tree-treenode-selected .jxc-tree-node-content-wrapper {
  color: #fff;
  background: transparent;
}
.jxc-tree-checkbox {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #222;
  font-size: 13px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  position: relative;
  top: -0.09em;
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
}
.jxc-tree-checkbox-wrapper:hover .jxc-tree-checkbox-inner,
.jxc-tree-checkbox:hover .jxc-tree-checkbox-inner,
.jxc-tree-checkbox-input:focus + .jxc-tree-checkbox-inner {
  border-color: #fdf;
}
.jxc-tree-checkbox-checked::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #fdf;
  border-radius: 2px;
  visibility: hidden;
  animation: antCheckboxEffect 0.36s ease-in-out;
  animation-fill-mode: backwards;
  content: '';
}
.jxc-tree-checkbox:hover::after,
.jxc-tree-checkbox-wrapper:hover .jxc-tree-checkbox::after {
  visibility: visible;
}
.jxc-tree-checkbox-inner {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  direction: ltr;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  border-radius: 2px;
  border-collapse: separate;
  transition: all 0.3s;
}
.jxc-tree-checkbox-inner::after {
  position: absolute;
  top: 50%;
  left: 22%;
  display: table;
  width: 5.71428571px;
  height: 9.14285714px;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  transform: rotate(45deg) scale(0) translate(-50%, -50%);
  opacity: 0;
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
  content: ' ';
}
.jxc-tree-checkbox-input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
.jxc-tree-checkbox-checked .jxc-tree-checkbox-inner::after {
  position: absolute;
  display: table;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  transform: rotate(45deg) scale(1) translate(-50%, -50%);
  opacity: 1;
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  content: ' ';
}
.jxc-tree-checkbox-checked .jxc-tree-checkbox-inner {
  background-color: #fdf;
  border-color: #fdf;
}
.jxc-tree-checkbox-disabled {
  cursor: not-allowed;
}
.jxc-tree-checkbox-disabled.jxc-tree-checkbox-checked .jxc-tree-checkbox-inner::after {
  border-color: #ccc;
  animation-name: none;
}
.jxc-tree-checkbox-disabled .jxc-tree-checkbox-input {
  cursor: not-allowed;
}
.jxc-tree-checkbox-disabled .jxc-tree-checkbox-inner {
  background-color: #f5f5f5;
  border-color: #d2d2d2 !important;
}
.jxc-tree-checkbox-disabled .jxc-tree-checkbox-inner::after {
  border-color: #f5f5f5;
  border-collapse: separate;
  animation-name: none;
}
.jxc-tree-checkbox-disabled + span {
  color: #ccc;
  cursor: not-allowed;
}
.jxc-tree-checkbox-disabled:hover::after,
.jxc-tree-checkbox-wrapper:hover .jxc-tree-checkbox-disabled::after {
  visibility: hidden;
}
.jxc-tree-checkbox-wrapper {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #222;
  font-size: 13px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  display: inline-block;
  line-height: unset;
  cursor: pointer;
}
.jxc-tree-checkbox-wrapper.jxc-tree-checkbox-wrapper-disabled {
  cursor: not-allowed;
}
.jxc-tree-checkbox-wrapper + .jxc-tree-checkbox-wrapper {
  margin-left: 8px;
}
.jxc-tree-checkbox + span {
  padding-right: 8px;
  padding-left: 8px;
}
.jxc-tree-checkbox-group {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #222;
  font-size: 13px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  display: inline-block;
}
.jxc-tree-checkbox-group-item {
  display: inline-block;
  margin-right: 8px;
}
.jxc-tree-checkbox-group-item:last-child {
  margin-right: 0;
}
.jxc-tree-checkbox-group-item + .jxc-tree-checkbox-group-item {
  margin-left: 0;
}
.jxc-tree-checkbox-indeterminate .jxc-tree-checkbox-inner {
  background-color: #fff;
  border-color: #d2d2d2;
}
.jxc-tree-checkbox-indeterminate .jxc-tree-checkbox-inner::after {
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: #fdf;
  border: 0;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  content: ' ';
}
.jxc-tree-checkbox-indeterminate.jxc-tree-checkbox-disabled .jxc-tree-checkbox-inner::after {
  background-color: #ccc;
  border-color: #ccc;
}
.jxc-tree {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #222;
  font-size: 13px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  background: #fff;
  border-radius: 2px;
  transition: background-color 0.3s;
}
.jxc-tree-focused:not(:hover):not(.jxc-tree-active-focused) {
  background: #f0fcf6;
}
.jxc-tree-list-holder-inner {
  align-items: flex-start;
}
.jxc-tree.jxc-tree-block-node .jxc-tree-list-holder-inner {
  align-items: stretch;
}
.jxc-tree.jxc-tree-block-node .jxc-tree-list-holder-inner .jxc-tree-node-content-wrapper {
  flex: auto;
}
.jxc-tree .jxc-tree-treenode {
  display: flex;
  align-items: flex-start;
  padding: 0 0 4px 0;
  outline: none;
}
.jxc-tree .jxc-tree-treenode-disabled .jxc-tree-node-content-wrapper {
  color: #ccc;
  cursor: not-allowed;
}
.jxc-tree .jxc-tree-treenode-disabled .jxc-tree-node-content-wrapper:hover {
  background: transparent;
}
.jxc-tree .jxc-tree-treenode-active .jxc-tree-node-content-wrapper {
  background: #f5f5f5;
}
.jxc-tree .jxc-tree-treenode:not(.jxc-tree .jxc-tree-treenode-disabled).filter-node .jxc-tree-title {
  color: inherit;
  font-weight: 500;
}
.jxc-tree-indent {
  align-self: stretch;
  white-space: nowrap;
  user-select: none;
}
.jxc-tree-indent-unit {
  display: inline-block;
  width: 24px;
}
.jxc-tree-switcher {
  position: relative;
  flex: none;
  align-self: stretch;
  width: 24px;
  margin: 0;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.jxc-tree-switcher .jxc-tree-switcher-icon,
.jxc-tree-switcher .jxc-select-tree-switcher-icon {
  display: inline-block;
  font-size: 10px;
  vertical-align: baseline;
}
.jxc-tree-switcher .jxc-tree-switcher-icon svg,
.jxc-tree-switcher .jxc-select-tree-switcher-icon svg {
  transition: transform 0.3s;
}
.jxc-tree-switcher-noop {
  cursor: default;
}
.jxc-tree-switcher_close .jxc-tree-switcher-icon svg {
  transform: rotate(-90deg);
}
.jxc-tree-switcher-loading-icon {
  color: #fdf;
}
.jxc-tree-switcher-leaf-line {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.jxc-tree-switcher-leaf-line::before {
  position: absolute;
  top: 0;
  bottom: -4px;
  margin-left: -1px;
  border-left: 1px solid #d9d9d9;
  content: ' ';
}
.jxc-tree-switcher-leaf-line::after {
  position: absolute;
  width: 10px;
  height: 14px;
  margin-left: -1px;
  border-bottom: 1px solid #d9d9d9;
  content: ' ';
}
.jxc-tree-checkbox {
  top: initial;
  margin: 4px 8px 0 0;
}
.jxc-tree .jxc-tree-node-content-wrapper {
  position: relative;
  z-index: auto;
  min-height: 24px;
  margin: 0;
  padding: 0 4px;
  color: inherit;
  line-height: 24px;
  background: transparent;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s, border 0s, line-height 0s, box-shadow 0s;
}
.jxc-tree .jxc-tree-node-content-wrapper:hover {
  background-color: #f5f5f5;
}
.jxc-tree .jxc-tree-node-content-wrapper.jxc-tree-node-selected {
  background-color: #fff0fd;
}
.jxc-tree .jxc-tree-node-content-wrapper .jxc-tree-iconEle {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  vertical-align: top;
}
.jxc-tree .jxc-tree-node-content-wrapper .jxc-tree-iconEle:empty {
  display: none;
}
.jxc-tree-unselectable .jxc-tree-node-content-wrapper:hover {
  background-color: transparent;
}
.jxc-tree-node-content-wrapper[draggable='true'] {
  line-height: 24px;
  user-select: none;
}
.jxc-tree-node-content-wrapper[draggable='true'] .jxc-tree-drop-indicator {
  position: absolute;
  z-index: 1;
  height: 2px;
  background-color: #fdf;
  border-radius: 1px;
  pointer-events: none;
}
.jxc-tree-node-content-wrapper[draggable='true'] .jxc-tree-drop-indicator::after {
  position: absolute;
  top: -3px;
  left: -6px;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border: 2px solid #fdf;
  border-radius: 50%;
  content: '';
}
.jxc-tree .jxc-tree-treenode.drop-container > [draggable] {
  box-shadow: 0 0 0 2px #fdf;
}
.jxc-tree-show-line .jxc-tree-indent-unit {
  position: relative;
  height: 100%;
}
.jxc-tree-show-line .jxc-tree-indent-unit::before {
  position: absolute;
  top: 0;
  right: 12px;
  bottom: -4px;
  border-right: 1px solid #d2d2d2;
  content: '';
}
.jxc-tree-show-line .jxc-tree-indent-unit-end::before {
  display: none;
}
.jxc-tree-show-line .jxc-tree-switcher {
  background: #fff;
}
.jxc-tree-show-line .jxc-tree-switcher-line-icon {
  vertical-align: -0.225em;
}
.jxc-tree-rtl {
  direction: rtl;
}
.jxc-tree-rtl .jxc-tree-node-content-wrapper[draggable='true'] .jxc-tree-drop-indicator::after {
  right: -6px;
  left: unset;
}
.jxc-tree .jxc-tree-treenode-rtl {
  direction: rtl;
}
.jxc-tree-rtl .jxc-tree-switcher_close .jxc-tree-switcher-icon svg {
  transform: rotate(90deg);
}
.jxc-tree-rtl.jxc-tree-show-line .jxc-tree-indent-unit::before {
  right: auto;
  left: -13px;
  border-right: none;
  border-left: 1px solid #d2d2d2;
}
.jxc-tree-rtl.jxc-tree-checkbox {
  margin: 4px 0 0 8px;
}
.jxc-tree-select-dropdown-rtl .jxc-select-tree-checkbox {
  margin: 4px 0 0 8px;
}
