/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.jxc-dropdown-menu-item.jxc-dropdown-menu-item-danger {
  color: #ff6060;
}
.jxc-dropdown-menu-item.jxc-dropdown-menu-item-danger:hover {
  color: #fff;
  background-color: #ff6060;
}
.jxc-dropdown {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #222;
  font-size: 13px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: 1050;
  display: block;
}
.jxc-dropdown::before {
  position: absolute;
  top: -4px;
  right: 0;
  bottom: -4px;
  left: -7px;
  z-index: -9999;
  opacity: 0.0001;
  content: ' ';
}
.jxc-dropdown-wrap {
  position: relative;
}
.jxc-dropdown-wrap .jxc-btn > .anticon-down {
  font-size: 10px;
}
.jxc-dropdown-wrap .anticon-down::before {
  transition: transform 0.2s;
}
.jxc-dropdown-wrap-open .anticon-down::before {
  transform: rotate(180deg);
}
.jxc-dropdown-hidden,
.jxc-dropdown-menu-hidden {
  display: none;
}
.jxc-dropdown-show-arrow.jxc-dropdown-placement-topCenter,
.jxc-dropdown-show-arrow.jxc-dropdown-placement-topLeft,
.jxc-dropdown-show-arrow.jxc-dropdown-placement-topRight {
  padding-bottom: 10px;
}
.jxc-dropdown-show-arrow.jxc-dropdown-placement-bottomCenter,
.jxc-dropdown-show-arrow.jxc-dropdown-placement-bottomLeft,
.jxc-dropdown-show-arrow.jxc-dropdown-placement-bottomRight {
  padding-top: 10px;
}
.jxc-dropdown-arrow {
  position: absolute;
  z-index: 1;
  display: block;
  width: 8.48528137px;
  height: 8.48528137px;
  background: transparent;
  border-style: solid;
  border-width: 4.24264069px;
  transform: rotate(45deg);
}
.jxc-dropdown-placement-topCenter > .jxc-dropdown-arrow,
.jxc-dropdown-placement-topLeft > .jxc-dropdown-arrow,
.jxc-dropdown-placement-topRight > .jxc-dropdown-arrow {
  bottom: 6.2px;
  border-top-color: transparent;
  border-right-color: #fff;
  border-bottom-color: #fff;
  border-left-color: transparent;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07);
}
.jxc-dropdown-placement-topCenter > .jxc-dropdown-arrow {
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}
.jxc-dropdown-placement-topLeft > .jxc-dropdown-arrow {
  left: 16px;
}
.jxc-dropdown-placement-topRight > .jxc-dropdown-arrow {
  right: 16px;
}
.jxc-dropdown-placement-bottomCenter > .jxc-dropdown-arrow,
.jxc-dropdown-placement-bottomLeft > .jxc-dropdown-arrow,
.jxc-dropdown-placement-bottomRight > .jxc-dropdown-arrow {
  top: 6px;
  border-top-color: #fff;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: #fff;
  box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.06);
}
.jxc-dropdown-placement-bottomCenter > .jxc-dropdown-arrow {
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}
.jxc-dropdown-placement-bottomLeft > .jxc-dropdown-arrow {
  left: 16px;
}
.jxc-dropdown-placement-bottomRight > .jxc-dropdown-arrow {
  right: 16px;
}
.jxc-dropdown-menu {
  position: relative;
  margin: 0;
  padding: 4px 0;
  text-align: left;
  list-style-type: none;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 2px;
  outline: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.jxc-dropdown-menu-item-group-title {
  padding: 5px 12px;
  color: #222;
  transition: all 0.3s;
}
.jxc-dropdown-menu-submenu-popup {
  position: absolute;
  z-index: 1050;
  background: transparent;
  box-shadow: none;
  transform-origin: 0 0;
}
.jxc-dropdown-menu-submenu-popup ul,
.jxc-dropdown-menu-submenu-popup li {
  list-style: none;
}
.jxc-dropdown-menu-submenu-popup ul {
  margin-right: 0.3em;
  margin-left: 0.3em;
}
.jxc-dropdown-menu-item,
.jxc-dropdown-menu-submenu-title {
  clear: both;
  margin: 0;
  padding: 5px 12px;
  color: #222;
  font-weight: normal;
  font-size: 13px;
  line-height: 22px;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}
.jxc-dropdown-menu-item > .anticon:first-child,
.jxc-dropdown-menu-submenu-title > .anticon:first-child,
.jxc-dropdown-menu-item > a > .anticon:first-child,
.jxc-dropdown-menu-submenu-title > a > .anticon:first-child,
.jxc-dropdown-menu-item > span > .anticon:first-child,
.jxc-dropdown-menu-submenu-title > span > .anticon:first-child {
  min-width: 12px;
  margin-right: 8px;
  font-size: 12px;
  vertical-align: -0.1em;
}
.jxc-dropdown-menu-item > a,
.jxc-dropdown-menu-submenu-title > a {
  display: block;
  margin: -5px -12px;
  padding: 5px 12px;
  color: #222;
  transition: all 0.3s;
}
.jxc-dropdown-menu-item > a:hover,
.jxc-dropdown-menu-submenu-title > a:hover {
  color: #222;
}
.jxc-dropdown-menu-item > .anticon + span > a,
.jxc-dropdown-menu-submenu-title > .anticon + span > a {
  color: #222;
  transition: all 0.3s;
}
.jxc-dropdown-menu-item > .anticon + span > a:hover,
.jxc-dropdown-menu-submenu-title > .anticon + span > a:hover {
  color: #222;
}
.jxc-dropdown-menu-item-selected,
.jxc-dropdown-menu-submenu-title-selected,
.jxc-dropdown-menu-item-selected > a,
.jxc-dropdown-menu-submenu-title-selected > a {
  color: #2b9262;
  background-color: #f0fcf6;
}
.jxc-dropdown-menu-item:hover,
.jxc-dropdown-menu-submenu-title:hover {
  background-color: #f5f5f5;
}
.jxc-dropdown-menu-item-disabled,
.jxc-dropdown-menu-submenu-title-disabled {
  color: #ccc;
  cursor: not-allowed;
}
.jxc-dropdown-menu-item-disabled:hover,
.jxc-dropdown-menu-submenu-title-disabled:hover {
  color: #ccc;
  background-color: #fff;
  cursor: not-allowed;
}
.jxc-dropdown-menu-item-disabled > a,
.jxc-dropdown-menu-submenu-title-disabled > a {
  position: relative;
  color: #ccc;
  pointer-events: none;
}
.jxc-dropdown-menu-item-disabled > a::after,
.jxc-dropdown-menu-submenu-title-disabled > a::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: not-allowed;
  content: '';
}
.jxc-dropdown-menu-item-divider,
.jxc-dropdown-menu-submenu-title-divider {
  height: 1px;
  margin: 4px 0;
  overflow: hidden;
  line-height: 0;
  background-color: #f0f0f0;
}
.jxc-dropdown-menu-item .jxc-dropdown-menu-submenu-expand-icon,
.jxc-dropdown-menu-submenu-title .jxc-dropdown-menu-submenu-expand-icon {
  position: absolute;
  right: 8px;
}
.jxc-dropdown-menu-item .jxc-dropdown-menu-submenu-expand-icon .jxc-dropdown-menu-submenu-arrow-icon,
.jxc-dropdown-menu-submenu-title .jxc-dropdown-menu-submenu-expand-icon .jxc-dropdown-menu-submenu-arrow-icon {
  margin-right: 0 !important;
  color: #222;
  font-size: 10px;
  font-style: normal;
}
.jxc-dropdown-menu-item-group-list {
  margin: 0 8px;
  padding: 0;
  list-style: none;
}
.jxc-dropdown-menu-submenu-title {
  padding-right: 24px;
}
.jxc-dropdown-menu-submenu-vertical {
  position: relative;
}
.jxc-dropdown-menu-submenu-vertical > .jxc-dropdown-menu {
  position: absolute;
  top: 0;
  left: 100%;
  min-width: 100%;
  margin-left: 4px;
  transform-origin: 0 0;
}
.jxc-dropdown-menu-submenu.jxc-dropdown-menu-submenu-disabled .jxc-dropdown-menu-submenu-title,
.jxc-dropdown-menu-submenu.jxc-dropdown-menu-submenu-disabled .jxc-dropdown-menu-submenu-title .jxc-dropdown-menu-submenu-arrow-icon {
  color: #ccc;
  background-color: #fff;
  cursor: not-allowed;
}
.jxc-dropdown-menu-submenu-selected .jxc-dropdown-menu-submenu-title {
  color: #2b9262;
}
.jxc-dropdown.slide-down-enter.slide-down-enter-active.jxc-dropdown-placement-bottomLeft,
.jxc-dropdown.slide-down-appear.slide-down-appear-active.jxc-dropdown-placement-bottomLeft,
.jxc-dropdown.slide-down-enter.slide-down-enter-active.jxc-dropdown-placement-bottomCenter,
.jxc-dropdown.slide-down-appear.slide-down-appear-active.jxc-dropdown-placement-bottomCenter,
.jxc-dropdown.slide-down-enter.slide-down-enter-active.jxc-dropdown-placement-bottomRight,
.jxc-dropdown.slide-down-appear.slide-down-appear-active.jxc-dropdown-placement-bottomRight {
  animation-name: antSlideUpIn;
}
.jxc-dropdown.slide-up-enter.slide-up-enter-active.jxc-dropdown-placement-topLeft,
.jxc-dropdown.slide-up-appear.slide-up-appear-active.jxc-dropdown-placement-topLeft,
.jxc-dropdown.slide-up-enter.slide-up-enter-active.jxc-dropdown-placement-topCenter,
.jxc-dropdown.slide-up-appear.slide-up-appear-active.jxc-dropdown-placement-topCenter,
.jxc-dropdown.slide-up-enter.slide-up-enter-active.jxc-dropdown-placement-topRight,
.jxc-dropdown.slide-up-appear.slide-up-appear-active.jxc-dropdown-placement-topRight {
  animation-name: antSlideDownIn;
}
.jxc-dropdown.slide-down-leave.slide-down-leave-active.jxc-dropdown-placement-bottomLeft,
.jxc-dropdown.slide-down-leave.slide-down-leave-active.jxc-dropdown-placement-bottomCenter,
.jxc-dropdown.slide-down-leave.slide-down-leave-active.jxc-dropdown-placement-bottomRight {
  animation-name: antSlideUpOut;
}
.jxc-dropdown.slide-up-leave.slide-up-leave-active.jxc-dropdown-placement-topLeft,
.jxc-dropdown.slide-up-leave.slide-up-leave-active.jxc-dropdown-placement-topCenter,
.jxc-dropdown.slide-up-leave.slide-up-leave-active.jxc-dropdown-placement-topRight {
  animation-name: antSlideDownOut;
}
.jxc-dropdown-trigger > .anticon.anticon-down,
.jxc-dropdown-link > .anticon.anticon-down,
.jxc-dropdown-button > .anticon.anticon-down {
  font-size: 10px;
  vertical-align: baseline;
}
.jxc-dropdown-button {
  white-space: nowrap;
}
.jxc-dropdown-button.jxc-btn-group > .jxc-btn:last-child:not(:first-child):not(.jxc-btn-icon-only) {
  padding-right: 8px;
  padding-left: 8px;
}
.jxc-dropdown-menu-dark,
.jxc-dropdown-menu-dark .jxc-dropdown-menu {
  background: #001529;
}
.jxc-dropdown-menu-dark .jxc-dropdown-menu-item,
.jxc-dropdown-menu-dark .jxc-dropdown-menu-submenu-title,
.jxc-dropdown-menu-dark .jxc-dropdown-menu-item > a,
.jxc-dropdown-menu-dark .jxc-dropdown-menu-item > .anticon + span > a {
  color: rgba(255, 255, 255, 0.65);
}
.jxc-dropdown-menu-dark .jxc-dropdown-menu-item .jxc-dropdown-menu-submenu-arrow::after,
.jxc-dropdown-menu-dark .jxc-dropdown-menu-submenu-title .jxc-dropdown-menu-submenu-arrow::after,
.jxc-dropdown-menu-dark .jxc-dropdown-menu-item > a .jxc-dropdown-menu-submenu-arrow::after,
.jxc-dropdown-menu-dark .jxc-dropdown-menu-item > .anticon + span > a .jxc-dropdown-menu-submenu-arrow::after {
  color: rgba(255, 255, 255, 0.65);
}
.jxc-dropdown-menu-dark .jxc-dropdown-menu-item:hover,
.jxc-dropdown-menu-dark .jxc-dropdown-menu-submenu-title:hover,
.jxc-dropdown-menu-dark .jxc-dropdown-menu-item > a:hover,
.jxc-dropdown-menu-dark .jxc-dropdown-menu-item > .anticon + span > a:hover {
  color: #fff;
  background: transparent;
}
.jxc-dropdown-menu-dark .jxc-dropdown-menu-item-selected,
.jxc-dropdown-menu-dark .jxc-dropdown-menu-item-selected:hover,
.jxc-dropdown-menu-dark .jxc-dropdown-menu-item-selected > a {
  color: #fff;
  background: #2b9262;
}
.jxc-dropdown-rtl {
  direction: rtl;
}
.jxc-dropdown-rtl.jxc-dropdown::before {
  right: -7px;
  left: 0;
}
.jxc-dropdown-menu.jxc-dropdown-menu-rtl {
  direction: rtl;
  text-align: right;
}
.jxc-dropdown-rtl .jxc-dropdown-menu-item-group-title {
  direction: rtl;
  text-align: right;
}
.jxc-dropdown-menu-submenu-popup.jxc-dropdown-menu-submenu-rtl {
  transform-origin: 100% 0;
}
.jxc-dropdown-rtl .jxc-dropdown-menu-submenu-popup ul,
.jxc-dropdown-rtl .jxc-dropdown-menu-submenu-popup li {
  text-align: right;
}
.jxc-dropdown-rtl .jxc-dropdown-menu-item,
.jxc-dropdown-rtl .jxc-dropdown-menu-submenu-title {
  text-align: right;
}
.jxc-dropdown-rtl .jxc-dropdown-menu-item > .anticon:first-child,
.jxc-dropdown-rtl .jxc-dropdown-menu-submenu-title > .anticon:first-child,
.jxc-dropdown-rtl .jxc-dropdown-menu-item > span > .anticon:first-child,
.jxc-dropdown-rtl .jxc-dropdown-menu-submenu-title > span > .anticon:first-child {
  margin-right: 0;
  margin-left: 8px;
}
.jxc-dropdown-rtl .jxc-dropdown-menu-item .jxc-dropdown-menu-submenu-arrow,
.jxc-dropdown-rtl .jxc-dropdown-menu-submenu-title .jxc-dropdown-menu-submenu-arrow {
  right: auto;
  left: 8px;
}
.jxc-dropdown-rtl .jxc-dropdown-menu-item .jxc-dropdown-menu-submenu-arrow-icon,
.jxc-dropdown-rtl .jxc-dropdown-menu-submenu-title .jxc-dropdown-menu-submenu-arrow-icon {
  margin-left: 0 !important;
  transform: scaleX(-1);
}
.jxc-dropdown-rtl .jxc-dropdown-menu-submenu-title {
  padding-right: 12px;
  padding-left: 24px;
}
.jxc-dropdown-rtl .jxc-dropdown-menu-submenu-vertical > .jxc-dropdown-menu {
  right: 100%;
  left: 0;
  margin-right: 4px;
  margin-left: 0;
}
