/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.jxc-result {
  padding: 48px 32px;
}
.jxc-result-success .jxc-result-icon > .anticon {
  color: #2b9262;
}
.jxc-result-error .jxc-result-icon > .anticon {
  color: #ff6060;
}
.jxc-result-info .jxc-result-icon > .anticon {
  color: #fdf;
}
.jxc-result-warning .jxc-result-icon > .anticon {
  color: #ff6d1e;
}
.jxc-result-image {
  width: 250px;
  height: 295px;
  margin: auto;
}
.jxc-result-icon {
  margin-bottom: 24px;
  text-align: center;
}
.jxc-result-icon > .anticon {
  font-size: 72px;
}
.jxc-result-title {
  color: #222;
  font-size: 24px;
  line-height: 1.8;
  text-align: center;
}
.jxc-result-subtitle {
  color: #222;
  font-size: 13px;
  line-height: 1.6;
  text-align: center;
}
.jxc-result-extra {
  margin: 24px 0 0 0;
  text-align: center;
}
.jxc-result-extra > * {
  margin-right: 8px;
}
.jxc-result-extra > *:last-child {
  margin-right: 0;
}
.jxc-result-content {
  margin-top: 24px;
  padding: 24px 40px;
  background-color: #fafafa;
}
.jxc-result-rtl {
  direction: rtl;
}
.jxc-result-rtl .jxc-result-extra > * {
  margin-right: 0;
  margin-left: 8px;
}
.jxc-result-rtl .jxc-result-extra > *:last-child {
  margin-left: 0;
}
