/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
@keyframes antCheckboxEffect {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}
.aeps-transfer-customize-list .aeps-transfer-list {
  flex: 1 1 50%;
  width: auto;
  height: auto;
  min-height: 200px;
}
.aeps-transfer-customize-list .aeps-table-wrapper .aeps-table-small {
  border: 0;
  border-radius: 0;
}
.aeps-transfer-customize-list .aeps-table-wrapper .aeps-table-small > .aeps-table-content > .aeps-table-body > table > .aeps-table-thead > tr > th {
  background: #f0f0f0;
}
.aeps-transfer-customize-list .aeps-table-wrapper .aeps-table-small > .aeps-table-content .aeps-table-row:last-child td {
  border-bottom: 1px solid #f0f0f0;
}
.aeps-transfer-customize-list .aeps-table-wrapper .aeps-table-small .aeps-table-body {
  margin: 0;
}
.aeps-transfer-customize-list .aeps-table-wrapper .aeps-table-pagination.aeps-pagination {
  margin: 16px 0 4px;
}
.aeps-transfer-customize-list .aeps-input[disabled] {
  background-color: transparent;
}
.aeps-transfer {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #222;
  font-size: 13px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  position: relative;
  display: flex;
  align-items: stretch;
}
.aeps-transfer-disabled .aeps-transfer-list {
  background: #f5f5f5;
}
.aeps-transfer-list {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 200px;
  border: 1px solid #d2d2d2;
  border-radius: 2px;
}
.aeps-transfer-list-with-pagination {
  width: 250px;
  height: auto;
}
.aeps-transfer-list-search {
  padding-right: 24px;
  padding-left: 8px;
}
.aeps-transfer-list-search-action {
  position: absolute;
  top: 12px;
  right: 12px;
  bottom: 12px;
  width: 28px;
  color: #ccc;
  line-height: 32px;
  text-align: center;
}
.aeps-transfer-list-search-action .anticon {
  color: #ccc;
  transition: all 0.3s;
}
.aeps-transfer-list-search-action .anticon:hover {
  color: #222;
}
span.aeps-transfer-list-search-action {
  pointer-events: none;
}
.aeps-transfer-list-header {
  display: flex;
  flex: none;
  align-items: center;
  height: 40px;
  padding: 9px 12px 10px;
  color: #222;
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 2px 2px 0 0;
}
.aeps-transfer-list-header > *:not(:last-child) {
  margin-right: 4px;
}
.aeps-transfer-list-header > * {
  flex: none;
}
.aeps-transfer-list-header-title {
  flex: auto;
  overflow: hidden;
  white-space: nowrap;
  text-align: right;
  text-overflow: ellipsis;
}
.aeps-transfer-list-header-dropdown {
  font-size: 10px;
  transform: translateY(10%);
  cursor: pointer;
}
.aeps-transfer-list-header-dropdown[disabled] {
  cursor: not-allowed;
}
.aeps-transfer-list-body {
  display: flex;
  flex: auto;
  flex-direction: column;
  overflow: hidden;
  font-size: 13px;
}
.aeps-transfer-list-body-search-wrapper {
  position: relative;
  flex: none;
  padding: 12px;
}
.aeps-transfer-list-content {
  flex: auto;
  margin: 0;
  padding: 0;
  overflow: auto;
  list-style: none;
}
.aeps-transfer-list-content-item {
  display: flex;
  align-items: center;
  min-height: 32px;
  padding: 6px 12px;
  overflow: hidden;
  line-height: 20px;
  transition: all 0.3s;
}
.aeps-transfer-list-content-item > *:not(:last-child) {
  margin-right: 8px;
}
.aeps-transfer-list-content-item > * {
  flex: none;
}
.aeps-transfer-list-content-item-text {
  flex: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.aeps-transfer-list-content-item-remove {
  color: #0066dd;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
  position: relative;
  color: #d2d2d2;
}
.aeps-transfer-list-content-item-remove:focus,
.aeps-transfer-list-content-item-remove:hover {
  color: #2688eb;
}
.aeps-transfer-list-content-item-remove:active {
  color: #0050b8;
}
.aeps-transfer-list-content-item-remove::after {
  position: absolute;
  top: -6px;
  right: -50%;
  bottom: -6px;
  left: -50%;
  content: '';
}
.aeps-transfer-list-content-item-remove:hover {
  color: #2688eb;
}
.aeps-transfer-list-content-item:not(.aeps-transfer-list-content-item-disabled):hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
.aeps-transfer-list-content-item:not(.aeps-transfer-list-content-item-disabled).aeps-transfer-list-content-item-checked:hover {
  background-color: #e7faf1;
}
.aeps-transfer-list-content-show-remove .aeps-transfer-list-content-item:not(.aeps-transfer-list-content-item-disabled):hover {
  background: transparent;
  cursor: default;
}
.aeps-transfer-list-content-item-checked {
  background-color: #f0fcf6;
}
.aeps-transfer-list-content-item-disabled {
  color: #ccc;
  cursor: not-allowed;
}
.aeps-transfer-list-pagination {
  padding: 8px 0;
  text-align: right;
  border-top: 1px solid #f0f0f0;
}
.aeps-transfer-list-body-not-found {
  flex: none;
  width: 100%;
  margin: auto 0;
  color: #ccc;
  text-align: center;
}
.aeps-transfer-list-footer {
  border-top: 1px solid #f0f0f0;
}
.aeps-transfer-operation {
  display: flex;
  flex: none;
  flex-direction: column;
  align-self: center;
  margin: 0 8px;
  overflow: hidden;
  vertical-align: middle;
}
.aeps-transfer-operation .aeps-btn {
  display: block;
}
.aeps-transfer-operation .aeps-btn:first-child {
  margin-bottom: 4px;
}
.aeps-transfer-operation .aeps-btn .anticon {
  font-size: 12px;
}
.aeps-transfer .aeps-empty-image {
  max-height: -2px;
}
.aeps-transfer-rtl {
  direction: rtl;
}
.aeps-transfer-rtl .aeps-transfer-list-search {
  padding-right: 8px;
  padding-left: 24px;
}
.aeps-transfer-rtl .aeps-transfer-list-search-action {
  right: auto;
  left: 12px;
}
.aeps-transfer-rtl .aeps-transfer-list-header > *:not(:last-child) {
  margin-right: 0;
  margin-left: 4px;
}
.aeps-transfer-rtl .aeps-transfer-list-header {
  right: 0;
  left: auto;
}
.aeps-transfer-rtl .aeps-transfer-list-header-title {
  text-align: left;
}
.aeps-transfer-rtl .aeps-transfer-list-content-item > *:not(:last-child) {
  margin-right: 0;
  margin-left: 8px;
}
.aeps-transfer-rtl .aeps-transfer-list-pagination {
  text-align: left;
}
.aeps-transfer-rtl .aeps-transfer-list-footer {
  right: 0;
  left: auto;
}
