/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.aeps-input-affix-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: 4.8px 11px;
  color: #222;
  font-size: 13px;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d2d2d2;
  border-radius: 2px;
  transition: all 0.3s;
  display: inline-flex;
}
.aeps-input-affix-wrapper::-moz-placeholder {
  opacity: 1;
}
.aeps-input-affix-wrapper::placeholder {
  color: #b0b0b0;
}
.aeps-input-affix-wrapper:placeholder-shown {
  text-overflow: ellipsis;
}
.aeps-input-affix-wrapper:hover {
  border-color: #fff829;
  border-right-width: 1px !important;
}
.aeps-input-rtl .aeps-input-affix-wrapper:hover {
  border-right-width: 0;
  border-left-width: 1px !important;
}
.aeps-input-affix-wrapper:focus,
.aeps-input-affix-wrapper-focused {
  border-color: #fff829;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(255, 255, 0, 0.2);
}
.aeps-input-rtl .aeps-input-affix-wrapper:focus,
.aeps-input-rtl .aeps-input-affix-wrapper-focused {
  border-right-width: 0;
  border-left-width: 1px !important;
}
.aeps-input-affix-wrapper-disabled {
  color: #ccc;
  background-color: #f5f5f5;
  cursor: not-allowed;
  opacity: 1;
}
.aeps-input-affix-wrapper-disabled:hover {
  border-color: #d2d2d2;
  border-right-width: 1px !important;
}
.aeps-input-affix-wrapper[disabled] {
  color: #ccc;
  background-color: #f5f5f5;
  cursor: not-allowed;
  opacity: 1;
}
.aeps-input-affix-wrapper[disabled]:hover {
  border-color: #d2d2d2;
  border-right-width: 1px !important;
}
.aeps-input-affix-wrapper-borderless,
.aeps-input-affix-wrapper-borderless:hover,
.aeps-input-affix-wrapper-borderless:focus,
.aeps-input-affix-wrapper-borderless-focused,
.aeps-input-affix-wrapper-borderless-disabled,
.aeps-input-affix-wrapper-borderless[disabled] {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
textarea.aeps-input-affix-wrapper {
  max-width: 100%;
  height: auto;
  min-height: 32px;
  line-height: 1.5715;
  vertical-align: bottom;
  transition: all 0.3s, height 0s;
}
.aeps-input-affix-wrapper-lg {
  padding: 7.3px 11px;
  font-size: 15px;
}
.aeps-input-affix-wrapper-sm {
  padding: 0.8px 7px;
}
.aeps-input-affix-wrapper-rtl {
  direction: rtl;
}
.aeps-input-affix-wrapper:hover {
  border-color: #fff829;
  border-right-width: 1px !important;
  z-index: 1;
}
.aeps-input-rtl .aeps-input-affix-wrapper:hover {
  border-right-width: 0;
  border-left-width: 1px !important;
}
.aeps-input-search-with-button .aeps-input-affix-wrapper:hover {
  z-index: 0;
}
.aeps-input-affix-wrapper-focused,
.aeps-input-affix-wrapper:focus {
  z-index: 1;
}
.aeps-input-affix-wrapper-disabled .aeps-input[disabled] {
  background: transparent;
}
.aeps-input-affix-wrapper > input.aeps-input {
  padding: 0;
  border: none;
  outline: none;
}
.aeps-input-affix-wrapper > input.aeps-input:focus {
  box-shadow: none;
}
.aeps-input-affix-wrapper::before {
  width: 0;
  visibility: hidden;
  content: '\a0';
}
.aeps-input-prefix,
.aeps-input-suffix {
  display: flex;
  flex: none;
  align-items: center;
}
.aeps-input-prefix {
  margin-right: 4px;
}
.aeps-input-suffix {
  margin-left: 4px;
}
.aeps-input-clear-icon {
  margin: 0 4px;
  color: #ccc;
  font-size: 12px;
  vertical-align: -1px;
  cursor: pointer;
  transition: color 0.3s;
}
.aeps-input-clear-icon:hover {
  color: #222;
}
.aeps-input-clear-icon:active {
  color: #222;
}
.aeps-input-clear-icon-hidden {
  visibility: hidden;
}
.aeps-input-clear-icon:last-child {
  margin-right: 0;
}
.aeps-input-affix-wrapper-textarea-with-clear-btn {
  padding: 0 !important;
  border: 0 !important;
}
.aeps-input-affix-wrapper-textarea-with-clear-btn .aeps-input-clear-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1;
}
.aeps-input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: 'tnum';
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: 4.8px 11px;
  color: #222;
  font-size: 13px;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d2d2d2;
  border-radius: 2px;
  transition: all 0.3s;
}
.aeps-input::-moz-placeholder {
  opacity: 1;
}
.aeps-input::placeholder {
  color: #b0b0b0;
}
.aeps-input:placeholder-shown {
  text-overflow: ellipsis;
}
.aeps-input:hover {
  border-color: #fff829;
  border-right-width: 1px !important;
}
.aeps-input-rtl .aeps-input:hover {
  border-right-width: 0;
  border-left-width: 1px !important;
}
.aeps-input:focus,
.aeps-input-focused {
  border-color: #fff829;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(255, 255, 0, 0.2);
}
.aeps-input-rtl .aeps-input:focus,
.aeps-input-rtl .aeps-input-focused {
  border-right-width: 0;
  border-left-width: 1px !important;
}
.aeps-input-disabled {
  color: #ccc;
  background-color: #f5f5f5;
  cursor: not-allowed;
  opacity: 1;
}
.aeps-input-disabled:hover {
  border-color: #d2d2d2;
  border-right-width: 1px !important;
}
.aeps-input[disabled] {
  color: #ccc;
  background-color: #f5f5f5;
  cursor: not-allowed;
  opacity: 1;
}
.aeps-input[disabled]:hover {
  border-color: #d2d2d2;
  border-right-width: 1px !important;
}
.aeps-input-borderless,
.aeps-input-borderless:hover,
.aeps-input-borderless:focus,
.aeps-input-borderless-focused,
.aeps-input-borderless-disabled,
.aeps-input-borderless[disabled] {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
textarea.aeps-input {
  max-width: 100%;
  height: auto;
  min-height: 32px;
  line-height: 1.5715;
  vertical-align: bottom;
  transition: all 0.3s, height 0s;
}
.aeps-input-lg {
  padding: 7.3px 11px;
  font-size: 15px;
}
.aeps-input-sm {
  padding: 0.8px 7px;
}
.aeps-input-rtl {
  direction: rtl;
}
.aeps-input-group {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #222;
  font-size: 13px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  position: relative;
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}
.aeps-input-group[class*='col-'] {
  float: none;
  padding-right: 0;
  padding-left: 0;
}
.aeps-input-group > [class*='col-'] {
  padding-right: 8px;
}
.aeps-input-group > [class*='col-']:last-child {
  padding-right: 0;
}
.aeps-input-group-addon,
.aeps-input-group-wrap,
.aeps-input-group > .aeps-input {
  display: table-cell;
}
.aeps-input-group-addon:not(:first-child):not(:last-child),
.aeps-input-group-wrap:not(:first-child):not(:last-child),
.aeps-input-group > .aeps-input:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.aeps-input-group-addon,
.aeps-input-group-wrap {
  width: 1px;
  white-space: nowrap;
  vertical-align: middle;
}
.aeps-input-group-wrap > * {
  display: block !important;
}
.aeps-input-group .aeps-input {
  float: left;
  width: 100%;
  margin-bottom: 0;
  text-align: inherit;
}
.aeps-input-group .aeps-input:focus {
  z-index: 1;
  border-right-width: 1px;
}
.aeps-input-group .aeps-input:hover {
  z-index: 1;
  border-right-width: 1px;
}
.aeps-input-search-with-button .aeps-input-group .aeps-input:hover {
  z-index: 0;
}
.aeps-input-group-addon {
  position: relative;
  padding: 0 11px;
  color: #222;
  font-weight: normal;
  font-size: 13px;
  text-align: center;
  background-color: #fafafa;
  border: 1px solid #d2d2d2;
  border-radius: 2px;
  transition: all 0.3s;
}
.aeps-input-group-addon .aeps-select {
  margin: -5.8px -11px;
}
.aeps-input-group-addon .aeps-select.aeps-select-single:not(.aeps-select-customize-input) .aeps-select-selector {
  background-color: inherit;
  border: 1px solid transparent;
  box-shadow: none;
}
.aeps-input-group-addon .aeps-select-open .aeps-select-selector,
.aeps-input-group-addon .aeps-select-focused .aeps-select-selector {
  color: #ff0;
}
.aeps-input-group > .aeps-input:first-child,
.aeps-input-group-addon:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.aeps-input-group > .aeps-input:first-child .aeps-select .aeps-select-selector,
.aeps-input-group-addon:first-child .aeps-select .aeps-select-selector {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.aeps-input-group > .aeps-input-affix-wrapper:not(:first-child) .aeps-input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.aeps-input-group > .aeps-input-affix-wrapper:not(:last-child) .aeps-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.aeps-input-group-addon:first-child {
  border-right: 0;
}
.aeps-input-group-addon:last-child {
  border-left: 0;
}
.aeps-input-group > .aeps-input:last-child,
.aeps-input-group-addon:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.aeps-input-group > .aeps-input:last-child .aeps-select .aeps-select-selector,
.aeps-input-group-addon:last-child .aeps-select .aeps-select-selector {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.aeps-input-group-lg .aeps-input,
.aeps-input-group-lg > .aeps-input-group-addon {
  padding: 7.3px 11px;
  font-size: 15px;
}
.aeps-input-group-sm .aeps-input,
.aeps-input-group-sm > .aeps-input-group-addon {
  padding: 0.8px 7px;
}
.aeps-input-group-lg .aeps-select-single .aeps-select-selector {
  height: 40px;
}
.aeps-input-group-sm .aeps-select-single .aeps-select-selector {
  height: 24px;
}
.aeps-input-group .aeps-input-affix-wrapper:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.aeps-input-group .aeps-input-affix-wrapper:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.aeps-input-search .aeps-input-group .aeps-input-affix-wrapper:not(:last-child) {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.aeps-input-group.aeps-input-group-compact {
  display: block;
}
.aeps-input-group.aeps-input-group-compact::before {
  display: table;
  content: '';
}
.aeps-input-group.aeps-input-group-compact::after {
  display: table;
  clear: both;
  content: '';
}
.aeps-input-group.aeps-input-group-compact-addon:not(:first-child):not(:last-child),
.aeps-input-group.aeps-input-group-compact-wrap:not(:first-child):not(:last-child),
.aeps-input-group.aeps-input-group-compact > .aeps-input:not(:first-child):not(:last-child) {
  border-right-width: 1px;
}
.aeps-input-group.aeps-input-group-compact-addon:not(:first-child):not(:last-child):hover,
.aeps-input-group.aeps-input-group-compact-wrap:not(:first-child):not(:last-child):hover,
.aeps-input-group.aeps-input-group-compact > .aeps-input:not(:first-child):not(:last-child):hover {
  z-index: 1;
}
.aeps-input-group.aeps-input-group-compact-addon:not(:first-child):not(:last-child):focus,
.aeps-input-group.aeps-input-group-compact-wrap:not(:first-child):not(:last-child):focus,
.aeps-input-group.aeps-input-group-compact > .aeps-input:not(:first-child):not(:last-child):focus {
  z-index: 1;
}
.aeps-input-group.aeps-input-group-compact > * {
  display: inline-block;
  float: none;
  vertical-align: top;
  border-radius: 0;
}
.aeps-input-group.aeps-input-group-compact > .aeps-input-affix-wrapper {
  display: inline-flex;
}
.aeps-input-group.aeps-input-group-compact > .aeps-picker-range {
  display: inline-flex;
}
.aeps-input-group.aeps-input-group-compact > *:not(:last-child) {
  margin-right: -1px;
  border-right-width: 1px;
}
.aeps-input-group.aeps-input-group-compact .aeps-input {
  float: none;
}
.aeps-input-group.aeps-input-group-compact > .aeps-select > .aeps-select-selector,
.aeps-input-group.aeps-input-group-compact > .aeps-select-auto-complete .aeps-input,
.aeps-input-group.aeps-input-group-compact > .aeps-cascader-picker .aeps-input,
.aeps-input-group.aeps-input-group-compact > .aeps-input-group-wrapper .aeps-input {
  border-right-width: 1px;
  border-radius: 0;
}
.aeps-input-group.aeps-input-group-compact > .aeps-select > .aeps-select-selector:hover,
.aeps-input-group.aeps-input-group-compact > .aeps-select-auto-complete .aeps-input:hover,
.aeps-input-group.aeps-input-group-compact > .aeps-cascader-picker .aeps-input:hover,
.aeps-input-group.aeps-input-group-compact > .aeps-input-group-wrapper .aeps-input:hover {
  z-index: 1;
}
.aeps-input-group.aeps-input-group-compact > .aeps-select > .aeps-select-selector:focus,
.aeps-input-group.aeps-input-group-compact > .aeps-select-auto-complete .aeps-input:focus,
.aeps-input-group.aeps-input-group-compact > .aeps-cascader-picker .aeps-input:focus,
.aeps-input-group.aeps-input-group-compact > .aeps-input-group-wrapper .aeps-input:focus {
  z-index: 1;
}
.aeps-input-group.aeps-input-group-compact > .aeps-select-focused {
  z-index: 1;
}
.aeps-input-group.aeps-input-group-compact > .aeps-select > .aeps-select-arrow {
  z-index: 1;
}
.aeps-input-group.aeps-input-group-compact > *:first-child,
.aeps-input-group.aeps-input-group-compact > .aeps-select:first-child > .aeps-select-selector,
.aeps-input-group.aeps-input-group-compact > .aeps-select-auto-complete:first-child .aeps-input,
.aeps-input-group.aeps-input-group-compact > .aeps-cascader-picker:first-child .aeps-input {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.aeps-input-group.aeps-input-group-compact > *:last-child,
.aeps-input-group.aeps-input-group-compact > .aeps-select:last-child > .aeps-select-selector,
.aeps-input-group.aeps-input-group-compact > .aeps-cascader-picker:last-child .aeps-input,
.aeps-input-group.aeps-input-group-compact > .aeps-cascader-picker-focused:last-child .aeps-input {
  border-right-width: 1px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.aeps-input-group.aeps-input-group-compact > .aeps-select-auto-complete .aeps-input {
  vertical-align: top;
}
.aeps-input-group.aeps-input-group-compact .aeps-input-group-wrapper + .aeps-input-group-wrapper {
  margin-left: -1px;
}
.aeps-input-group.aeps-input-group-compact .aeps-input-group-wrapper + .aeps-input-group-wrapper .aeps-input-affix-wrapper {
  border-radius: 0;
}
.aeps-input-group.aeps-input-group-compact .aeps-input-group-wrapper:not(:last-child).aeps-input-search > .aeps-input-group > .aeps-input-group-addon > .aeps-input-search-button {
  border-radius: 0;
}
.aeps-input-group.aeps-input-group-compact .aeps-input-group-wrapper:not(:last-child).aeps-input-search > .aeps-input-group > .aeps-input {
  border-radius: 2px 0 0 2px;
}
.aeps-input-group > .aeps-input-rtl:first-child,
.aeps-input-group-rtl .aeps-input-group-addon:first-child {
  border-radius: 0 2px 2px 0;
}
.aeps-input-group-rtl .aeps-input-group-addon:first-child {
  border-right: 1px solid #d2d2d2;
  border-left: 0;
}
.aeps-input-group-rtl .aeps-input-group-addon:last-child {
  border-right: 0;
  border-left: 1px solid #d2d2d2;
}
.aeps-input-group-rtl.aeps-input-group > .aeps-input:last-child,
.aeps-input-group-rtl.aeps-input-group-addon:last-child {
  border-radius: 2px 0 0 2px;
}
.aeps-input-group-rtl.aeps-input-group .aeps-input-affix-wrapper:not(:first-child) {
  border-radius: 2px 0 0 2px;
}
.aeps-input-group-rtl.aeps-input-group .aeps-input-affix-wrapper:not(:last-child) {
  border-radius: 0 2px 2px 0;
}
.aeps-input-group-rtl.aeps-input-group.aeps-input-group-compact > *:not(:last-child) {
  margin-right: 0;
  margin-left: -1px;
  border-left-width: 1px;
}
.aeps-input-group-rtl.aeps-input-group.aeps-input-group-compact > *:first-child,
.aeps-input-group-rtl.aeps-input-group.aeps-input-group-compact > .aeps-select:first-child > .aeps-select-selector,
.aeps-input-group-rtl.aeps-input-group.aeps-input-group-compact > .aeps-select-auto-complete:first-child .aeps-input,
.aeps-input-group-rtl.aeps-input-group.aeps-input-group-compact > .aeps-cascader-picker:first-child .aeps-input {
  border-radius: 0 2px 2px 0;
}
.aeps-input-group-rtl.aeps-input-group.aeps-input-group-compact > *:last-child,
.aeps-input-group-rtl.aeps-input-group.aeps-input-group-compact > .aeps-select:last-child > .aeps-select-selector,
.aeps-input-group-rtl.aeps-input-group.aeps-input-group-compact > .aeps-select-auto-complete:last-child .aeps-input,
.aeps-input-group-rtl.aeps-input-group.aeps-input-group-compact > .aeps-cascader-picker:last-child .aeps-input,
.aeps-input-group-rtl.aeps-input-group.aeps-input-group-compact > .aeps-cascader-picker-focused:last-child .aeps-input {
  border-left-width: 1px;
  border-radius: 2px 0 0 2px;
}
.aeps-input-group.aeps-input-group-compact .aeps-input-group-wrapper-rtl + .aeps-input-group-wrapper-rtl {
  margin-right: -1px;
  margin-left: 0;
}
.aeps-input-group.aeps-input-group-compact .aeps-input-group-wrapper-rtl:not(:last-child).aeps-input-search > .aeps-input-group > .aeps-input {
  border-radius: 0 2px 2px 0;
}
.aeps-input-group-wrapper {
  display: inline-block;
  width: 100%;
  text-align: start;
  vertical-align: top;
}
.aeps-input-password-icon {
  color: #222;
  cursor: pointer;
  transition: all 0.3s;
}
.aeps-input-password-icon:hover {
  color: rgba(0, 0, 0, 0.85);
}
.aeps-input[type='color'] {
  height: 32px;
}
.aeps-input[type='color'].aeps-input-lg {
  height: 40px;
}
.aeps-input[type='color'].aeps-input-sm {
  height: 24px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.aeps-input-textarea-show-count::after {
  display: block;
  color: #222;
  text-align: right;
  content: attr(data-count);
}
.aeps-input-search .aeps-input:hover,
.aeps-input-search .aeps-input:focus {
  border-color: #fff829;
}
.aeps-input-search .aeps-input:hover + .aeps-input-group-addon .aeps-input-search-button:not(.aeps-btn-primary),
.aeps-input-search .aeps-input:focus + .aeps-input-group-addon .aeps-input-search-button:not(.aeps-btn-primary) {
  border-left-color: #fff829;
}
.aeps-input-search .aeps-input-affix-wrapper {
  border-radius: 0;
}
.aeps-input-search .aeps-input-lg {
  line-height: 1.5713;
}
.aeps-input-search > .aeps-input-group > .aeps-input-group-addon:last-child {
  left: -1px;
  padding: 0;
  border: 0;
}
.aeps-input-search > .aeps-input-group > .aeps-input-group-addon:last-child .aeps-input-search-button {
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0 2px 2px 0;
}
.aeps-input-search > .aeps-input-group > .aeps-input-group-addon:last-child .aeps-input-search-button:not(.aeps-btn-primary) {
  color: #222;
}
.aeps-input-search > .aeps-input-group > .aeps-input-group-addon:last-child .aeps-input-search-button:not(.aeps-btn-primary).aeps-btn-loading::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.aeps-input-search-button {
  height: 32px;
}
.aeps-input-search-button:hover,
.aeps-input-search-button:focus {
  z-index: 1;
}
.aeps-input-search-large .aeps-input-search-button {
  height: 40px;
}
.aeps-input-search-small .aeps-input-search-button {
  height: 24px;
}
.aeps-input-group-wrapper-rtl {
  direction: rtl;
}
.aeps-input-group-rtl {
  direction: rtl;
}
.aeps-input-affix-wrapper.aeps-input-affix-wrapper-rtl > input.aeps-input {
  border: none;
  outline: none;
}
.aeps-input-affix-wrapper-rtl .aeps-input-prefix {
  margin: 0 0 0 4px;
}
.aeps-input-affix-wrapper-rtl .aeps-input-suffix {
  margin: 0 4px 0 0;
}
.aeps-input-textarea-rtl {
  direction: rtl;
}
.aeps-input-textarea-rtl.aeps-input-textarea-show-count::after {
  text-align: left;
}
.aeps-input-affix-wrapper-rtl .aeps-input-clear-icon:last-child {
  margin-right: 4px;
  margin-left: 0;
}
.aeps-input-affix-wrapper-rtl .aeps-input-clear-icon {
  right: auto;
  left: 8px;
}
.aeps-input-search-rtl {
  direction: rtl;
}
.aeps-input-search-rtl .aeps-input:hover + .aeps-input-group-addon .aeps-input-search-button:not(.aeps-btn-primary),
.aeps-input-search-rtl .aeps-input:focus + .aeps-input-group-addon .aeps-input-search-button:not(.aeps-btn-primary) {
  border-right-color: #fff829;
  border-left-color: #d2d2d2;
}
.aeps-input-search-rtl > .aeps-input-group > .aeps-input-affix-wrapper:hover,
.aeps-input-search-rtl > .aeps-input-group > .aeps-input-affix-wrapper-focused {
  border-right-color: #fff829;
}
.aeps-input-search-rtl > .aeps-input-group > .aeps-input-group-addon {
  right: -1px;
  left: auto;
}
.aeps-input-search-rtl > .aeps-input-group > .aeps-input-group-addon .aeps-input-search-button {
  border-radius: 2px 0 0 2px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .aeps-input {
    height: 32px;
  }
  .aeps-input-lg {
    height: 40px;
  }
  .aeps-input-sm {
    height: 24px;
  }
  .aeps-input-affix-wrapper > input.aeps-input {
    height: auto;
  }
}
