/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.jxc-pagination {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #222;
  font-size: 13px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
}
.jxc-pagination ul,
.jxc-pagination ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.jxc-pagination::after {
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  content: ' ';
}
.jxc-pagination-total-text {
  display: inline-block;
  height: 32px;
  margin-right: 8px;
  line-height: 30px;
  vertical-align: middle;
}
.jxc-pagination-item {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  margin-right: 8px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  border-radius: 2px;
  outline: 0;
  cursor: pointer;
  user-select: none;
}
.jxc-pagination-item a {
  display: block;
  padding: 0 6px;
  color: #222;
  transition: none;
}
.jxc-pagination-item a:hover {
  text-decoration: none;
}
.jxc-pagination-item:focus,
.jxc-pagination-item:hover {
  border-color: #fdf;
  transition: all 0.3s;
}
.jxc-pagination-item:focus a,
.jxc-pagination-item:hover a {
  color: #fdf;
}
.jxc-pagination-item-active {
  font-weight: 500;
  background: #2b9262;
  border-color: #fdf;
}
.jxc-pagination-item-active a {
  color: #fdf;
}
.jxc-pagination-item-active:focus,
.jxc-pagination-item-active:hover {
  border-color: #fff0fe;
}
.jxc-pagination-item-active:focus a,
.jxc-pagination-item-active:hover a {
  color: #fff0fe;
}
.jxc-pagination-jump-prev,
.jxc-pagination-jump-next {
  outline: 0;
}
.jxc-pagination-jump-prev .jxc-pagination-item-container,
.jxc-pagination-jump-next .jxc-pagination-item-container {
  position: relative;
}
.jxc-pagination-jump-prev .jxc-pagination-item-container .jxc-pagination-item-link-icon,
.jxc-pagination-jump-next .jxc-pagination-item-container .jxc-pagination-item-link-icon {
  color: #fdf;
  font-size: 12px;
  letter-spacing: -1px;
  opacity: 0;
  transition: all 0.2s;
}
.jxc-pagination-jump-prev .jxc-pagination-item-container .jxc-pagination-item-link-icon-svg,
.jxc-pagination-jump-next .jxc-pagination-item-container .jxc-pagination-item-link-icon-svg {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.jxc-pagination-jump-prev .jxc-pagination-item-container .jxc-pagination-item-ellipsis,
.jxc-pagination-jump-next .jxc-pagination-item-container .jxc-pagination-item-ellipsis {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  margin: auto;
  color: #ccc;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  text-align: center;
  text-indent: 0.13em;
  opacity: 1;
  transition: all 0.2s;
}
.jxc-pagination-jump-prev:focus .jxc-pagination-item-link-icon,
.jxc-pagination-jump-next:focus .jxc-pagination-item-link-icon,
.jxc-pagination-jump-prev:hover .jxc-pagination-item-link-icon,
.jxc-pagination-jump-next:hover .jxc-pagination-item-link-icon {
  opacity: 1;
}
.jxc-pagination-jump-prev:focus .jxc-pagination-item-ellipsis,
.jxc-pagination-jump-next:focus .jxc-pagination-item-ellipsis,
.jxc-pagination-jump-prev:hover .jxc-pagination-item-ellipsis,
.jxc-pagination-jump-next:hover .jxc-pagination-item-ellipsis {
  opacity: 0;
}
.jxc-pagination-prev,
.jxc-pagination-jump-prev,
.jxc-pagination-jump-next {
  margin-right: 8px;
}
.jxc-pagination-prev,
.jxc-pagination-next,
.jxc-pagination-jump-prev,
.jxc-pagination-jump-next {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  color: #222;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  line-height: 32px;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s;
}
.jxc-pagination-prev,
.jxc-pagination-next {
  font-family: Arial, Helvetica, sans-serif;
  outline: 0;
}
.jxc-pagination-prev button,
.jxc-pagination-next button {
  color: #222;
  cursor: pointer;
  user-select: none;
}
.jxc-pagination-prev:hover button,
.jxc-pagination-next:hover button {
  border-color: #fff0fe;
}
.jxc-pagination-prev .jxc-pagination-item-link,
.jxc-pagination-next .jxc-pagination-item-link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  font-size: 12px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  border-radius: 2px;
  outline: none;
  transition: all 0.3s;
}
.jxc-pagination-prev:focus .jxc-pagination-item-link,
.jxc-pagination-next:focus .jxc-pagination-item-link,
.jxc-pagination-prev:hover .jxc-pagination-item-link,
.jxc-pagination-next:hover .jxc-pagination-item-link {
  color: #fdf;
  border-color: #fdf;
}
.jxc-pagination-disabled,
.jxc-pagination-disabled:hover,
.jxc-pagination-disabled:focus {
  cursor: not-allowed;
}
.jxc-pagination-disabled .jxc-pagination-item-link,
.jxc-pagination-disabled:hover .jxc-pagination-item-link,
.jxc-pagination-disabled:focus .jxc-pagination-item-link {
  color: #ccc;
  border-color: #d2d2d2;
  cursor: not-allowed;
}
.jxc-pagination-slash {
  margin: 0 10px 0 5px;
}
.jxc-pagination-options {
  display: inline-block;
  margin-left: 16px;
  vertical-align: middle;
}
@media all and (-ms-high-contrast: none) {
  .jxc-pagination-options *::-ms-backdrop,
  .jxc-pagination-options {
    vertical-align: top;
  }
}
.jxc-pagination-options-size-changer.jxc-select {
  display: inline-block;
  width: auto;
}
.jxc-pagination-options-quick-jumper {
  display: inline-block;
  height: 32px;
  margin-left: 8px;
  line-height: 32px;
  vertical-align: top;
}
.jxc-pagination-options-quick-jumper input {
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: 4.8px 11px;
  color: #222;
  font-size: 13px;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d2d2d2;
  border-radius: 2px;
  transition: all 0.3s;
  width: 50px;
  margin: 0 8px;
}
.jxc-pagination-options-quick-jumper input::-moz-placeholder {
  opacity: 1;
}
.jxc-pagination-options-quick-jumper input::placeholder {
  color: #b0b0b0;
}
.jxc-pagination-options-quick-jumper input:placeholder-shown {
  text-overflow: ellipsis;
}
.jxc-pagination-options-quick-jumper input:hover {
  border-color: #fff0fe;
  border-right-width: 1px !important;
}
.jxc-pagination-options-quick-jumper input:focus,
.jxc-pagination-options-quick-jumper input-focused {
  border-color: #fff0fe;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(255, 221, 255, 0.2);
}
.jxc-pagination-options-quick-jumper input-disabled {
  color: #ccc;
  background-color: #f5f5f5;
  cursor: not-allowed;
  opacity: 1;
}
.jxc-pagination-options-quick-jumper input-disabled:hover {
  border-color: #d2d2d2;
  border-right-width: 1px !important;
}
.jxc-pagination-options-quick-jumper input[disabled] {
  color: #ccc;
  background-color: #f5f5f5;
  cursor: not-allowed;
  opacity: 1;
}
.jxc-pagination-options-quick-jumper input[disabled]:hover {
  border-color: #d2d2d2;
  border-right-width: 1px !important;
}
.jxc-pagination-options-quick-jumper input-borderless,
.jxc-pagination-options-quick-jumper input-borderless:hover,
.jxc-pagination-options-quick-jumper input-borderless:focus,
.jxc-pagination-options-quick-jumper input-borderless-focused,
.jxc-pagination-options-quick-jumper input-borderless-disabled,
.jxc-pagination-options-quick-jumper input-borderless[disabled] {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
textarea.jxc-pagination-options-quick-jumper input {
  max-width: 100%;
  height: auto;
  min-height: 32px;
  line-height: 1.5715;
  vertical-align: bottom;
  transition: all 0.3s, height 0s;
}
.jxc-pagination-options-quick-jumper input-lg {
  padding: 7.3px 11px;
  font-size: 15px;
}
.jxc-pagination-options-quick-jumper input-sm {
  padding: 0.8px 7px;
}
.jxc-pagination-simple .jxc-pagination-prev,
.jxc-pagination-simple .jxc-pagination-next {
  height: 24px;
  line-height: 24px;
  vertical-align: top;
}
.jxc-pagination-simple .jxc-pagination-prev .jxc-pagination-item-link,
.jxc-pagination-simple .jxc-pagination-next .jxc-pagination-item-link {
  height: 24px;
  background-color: transparent;
  border: 0;
}
.jxc-pagination-simple .jxc-pagination-prev .jxc-pagination-item-link::after,
.jxc-pagination-simple .jxc-pagination-next .jxc-pagination-item-link::after {
  height: 24px;
  line-height: 24px;
}
.jxc-pagination-simple .jxc-pagination-simple-pager {
  display: inline-block;
  height: 24px;
  margin-right: 8px;
}
.jxc-pagination-simple .jxc-pagination-simple-pager input {
  box-sizing: border-box;
  height: 100%;
  margin-right: 8px;
  padding: 0 6px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  border-radius: 2px;
  outline: none;
  transition: border-color 0.3s;
}
.jxc-pagination-simple .jxc-pagination-simple-pager input:hover {
  border-color: #fdf;
}
.jxc-pagination-simple .jxc-pagination-simple-pager input[disabled] {
  color: #ccc;
  background: #f5f5f5;
  border-color: #d2d2d2;
  cursor: not-allowed;
}
.jxc-pagination.mini .jxc-pagination-total-text,
.jxc-pagination.mini .jxc-pagination-simple-pager {
  height: 24px;
  line-height: 24px;
}
.jxc-pagination.mini .jxc-pagination-item {
  min-width: 24px;
  height: 24px;
  margin: 0;
  line-height: 22px;
}
.jxc-pagination.mini .jxc-pagination-item:not(.jxc-pagination-item-active) {
  background: transparent;
  border-color: transparent;
}
.jxc-pagination.mini .jxc-pagination-prev,
.jxc-pagination.mini .jxc-pagination-next {
  min-width: 24px;
  height: 24px;
  margin: 0;
  line-height: 24px;
}
.jxc-pagination.mini .jxc-pagination-prev .jxc-pagination-item-link,
.jxc-pagination.mini .jxc-pagination-next .jxc-pagination-item-link {
  background: transparent;
  border-color: transparent;
}
.jxc-pagination.mini .jxc-pagination-prev .jxc-pagination-item-link::after,
.jxc-pagination.mini .jxc-pagination-next .jxc-pagination-item-link::after {
  height: 24px;
  line-height: 24px;
}
.jxc-pagination.mini .jxc-pagination-jump-prev,
.jxc-pagination.mini .jxc-pagination-jump-next {
  height: 24px;
  margin-right: 0;
  line-height: 24px;
}
.jxc-pagination.mini .jxc-pagination-options {
  margin-left: 2px;
}
.jxc-pagination.mini .jxc-pagination-options-size-changer {
  top: 0px;
}
.jxc-pagination.mini .jxc-pagination-options-quick-jumper {
  height: 24px;
  line-height: 24px;
}
.jxc-pagination.mini .jxc-pagination-options-quick-jumper input {
  padding: 0.8px 7px;
  width: 44px;
}
.jxc-pagination.jxc-pagination-disabled {
  cursor: not-allowed;
}
.jxc-pagination.jxc-pagination-disabled .jxc-pagination-item {
  background: #f5f5f5;
  border-color: #d2d2d2;
  cursor: not-allowed;
}
.jxc-pagination.jxc-pagination-disabled .jxc-pagination-item a {
  color: #ccc;
  background: transparent;
  border: none;
  cursor: not-allowed;
}
.jxc-pagination.jxc-pagination-disabled .jxc-pagination-item-active {
  background: #dbdbdb;
  border-color: transparent;
}
.jxc-pagination.jxc-pagination-disabled .jxc-pagination-item-active a {
  color: #fff;
}
.jxc-pagination.jxc-pagination-disabled .jxc-pagination-item-link {
  color: #ccc;
  background: #f5f5f5;
  border-color: #d2d2d2;
  cursor: not-allowed;
}
.jxc-pagination-simple.jxc-pagination.jxc-pagination-disabled .jxc-pagination-item-link {
  background: transparent;
}
.jxc-pagination.jxc-pagination-disabled .jxc-pagination-item-link-icon {
  opacity: 0;
}
.jxc-pagination.jxc-pagination-disabled .jxc-pagination-item-ellipsis {
  opacity: 1;
}
.jxc-pagination.jxc-pagination-disabled .jxc-pagination-simple-pager {
  color: #ccc;
}
@media only screen and (max-width: 992px) {
  .jxc-pagination-item-after-jump-prev,
  .jxc-pagination-item-before-jump-next {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .jxc-pagination-options {
    display: none;
  }
}
.jxc-pagination-rtl .jxc-pagination-total-text {
  margin-right: 0;
  margin-left: 8px;
}
.jxc-pagination-rtl .jxc-pagination-item,
.jxc-pagination-rtl .jxc-pagination-prev,
.jxc-pagination-rtl .jxc-pagination-jump-prev,
.jxc-pagination-rtl .jxc-pagination-jump-next {
  margin-right: 0;
  margin-left: 8px;
}
.jxc-pagination-rtl .jxc-pagination-slash {
  margin: 0 5px 0 10px;
}
.jxc-pagination-rtl .jxc-pagination-options {
  margin-right: 16px;
  margin-left: 0;
}
.jxc-pagination-rtl .jxc-pagination-options .jxc-pagination-options-size-changer.jxc-select {
  margin-right: 0;
  margin-left: 8px;
}
.jxc-pagination-rtl .jxc-pagination-options .jxc-pagination-options-quick-jumper {
  margin-left: 0;
}
.jxc-pagination-rtl.jxc-pagination-simple .jxc-pagination-simple-pager {
  margin-right: 0;
  margin-left: 8px;
}
.jxc-pagination-rtl.jxc-pagination-simple .jxc-pagination-simple-pager input {
  margin-right: 0;
  margin-left: 8px;
}
.jxc-pagination-rtl.jxc-pagination.mini .jxc-pagination-options {
  margin-right: 2px;
  margin-left: 0;
}
