/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.jxc-form-item .jxc-mentions,
.jxc-form-item textarea.jxc-input {
  height: auto;
}
.jxc-form-item .jxc-upload {
  background: transparent;
}
.jxc-form-item .jxc-upload.jxc-upload-drag {
  background: #fafafa;
}
.jxc-form-item input[type='radio'],
.jxc-form-item input[type='checkbox'] {
  width: 14px;
  height: 14px;
}
.jxc-form-item .jxc-radio-inline,
.jxc-form-item .jxc-checkbox-inline {
  display: inline-block;
  margin-left: 8px;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}
.jxc-form-item .jxc-radio-inline:first-child,
.jxc-form-item .jxc-checkbox-inline:first-child {
  margin-left: 0;
}
.jxc-form-item .jxc-checkbox-vertical,
.jxc-form-item .jxc-radio-vertical {
  display: block;
}
.jxc-form-item .jxc-checkbox-vertical + .jxc-checkbox-vertical,
.jxc-form-item .jxc-radio-vertical + .jxc-radio-vertical {
  margin-left: 0;
}
.jxc-form-item .jxc-input-number + .jxc-form-text {
  margin-left: 8px;
}
.jxc-form-item .jxc-input-number-handler-wrap {
  z-index: 2;
}
.jxc-form-item .jxc-select,
.jxc-form-item .jxc-cascader-picker {
  width: 100%;
}
.jxc-form-item .jxc-input-group .jxc-select,
.jxc-form-item .jxc-input-group .jxc-cascader-picker {
  width: auto;
}
.jxc-form-inline {
  display: flex;
  flex-wrap: wrap;
}
.jxc-form-inline .jxc-form-item {
  flex: none;
  flex-wrap: nowrap;
  margin-right: 16px;
  margin-bottom: 0;
}
.jxc-form-inline .jxc-form-item-with-help {
  margin-bottom: 24px;
}
.jxc-form-inline .jxc-form-item > .jxc-form-item-label,
.jxc-form-inline .jxc-form-item > .jxc-form-item-control {
  display: inline-block;
  vertical-align: top;
}
.jxc-form-inline .jxc-form-item > .jxc-form-item-label {
  flex: none;
}
.jxc-form-inline .jxc-form-item .jxc-form-text {
  display: inline-block;
}
.jxc-form-inline .jxc-form-item .jxc-form-item-has-feedback {
  display: inline-block;
}
.jxc-form-horizontal .jxc-form-item-label {
  flex-grow: 0;
}
.jxc-form-horizontal .jxc-form-item-control {
  flex: 1 1 0;
}
.jxc-form-vertical .jxc-form-item {
  flex-direction: column;
}
.jxc-form-vertical .jxc-form-item-label > label {
  height: auto;
}
.jxc-form-vertical .jxc-form-item-label,
.jxc-col-24.jxc-form-item-label,
.jxc-col-xl-24.jxc-form-item-label {
  padding: 0 0 8px;
  line-height: 1.5715;
  white-space: initial;
  text-align: left;
}
.jxc-form-vertical .jxc-form-item-label > label,
.jxc-col-24.jxc-form-item-label > label,
.jxc-col-xl-24.jxc-form-item-label > label {
  margin: 0;
}
.jxc-form-vertical .jxc-form-item-label > label::after,
.jxc-col-24.jxc-form-item-label > label::after,
.jxc-col-xl-24.jxc-form-item-label > label::after {
  display: none;
}
.jxc-form-rtl.jxc-form-vertical .jxc-form-item-label,
.jxc-form-rtl.jxc-col-24.jxc-form-item-label,
.jxc-form-rtl.jxc-col-xl-24.jxc-form-item-label {
  text-align: right;
}
@media (max-width: 575px) {
  .jxc-form-item .jxc-form-item-label {
    padding: 0 0 8px;
    line-height: 1.5715;
    white-space: initial;
    text-align: left;
  }
  .jxc-form-item .jxc-form-item-label > label {
    margin: 0;
  }
  .jxc-form-item .jxc-form-item-label > label::after {
    display: none;
  }
  .jxc-form-rtl.jxc-form-item .jxc-form-item-label {
    text-align: right;
  }
  .jxc-form .jxc-form-item {
    flex-wrap: wrap;
  }
  .jxc-form .jxc-form-item .jxc-form-item-label,
  .jxc-form .jxc-form-item .jxc-form-item-control {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .jxc-col-xs-24.jxc-form-item-label {
    padding: 0 0 8px;
    line-height: 1.5715;
    white-space: initial;
    text-align: left;
  }
  .jxc-col-xs-24.jxc-form-item-label > label {
    margin: 0;
  }
  .jxc-col-xs-24.jxc-form-item-label > label::after {
    display: none;
  }
  .jxc-form-rtl.jxc-col-xs-24.jxc-form-item-label {
    text-align: right;
  }
}
@media (max-width: 767px) {
  .jxc-col-sm-24.jxc-form-item-label {
    padding: 0 0 8px;
    line-height: 1.5715;
    white-space: initial;
    text-align: left;
  }
  .jxc-col-sm-24.jxc-form-item-label > label {
    margin: 0;
  }
  .jxc-col-sm-24.jxc-form-item-label > label::after {
    display: none;
  }
  .jxc-form-rtl.jxc-col-sm-24.jxc-form-item-label {
    text-align: right;
  }
}
@media (max-width: 991px) {
  .jxc-col-md-24.jxc-form-item-label {
    padding: 0 0 8px;
    line-height: 1.5715;
    white-space: initial;
    text-align: left;
  }
  .jxc-col-md-24.jxc-form-item-label > label {
    margin: 0;
  }
  .jxc-col-md-24.jxc-form-item-label > label::after {
    display: none;
  }
  .jxc-form-rtl.jxc-col-md-24.jxc-form-item-label {
    text-align: right;
  }
}
@media (max-width: 1199px) {
  .jxc-col-lg-24.jxc-form-item-label {
    padding: 0 0 8px;
    line-height: 1.5715;
    white-space: initial;
    text-align: left;
  }
  .jxc-col-lg-24.jxc-form-item-label > label {
    margin: 0;
  }
  .jxc-col-lg-24.jxc-form-item-label > label::after {
    display: none;
  }
  .jxc-form-rtl.jxc-col-lg-24.jxc-form-item-label {
    text-align: right;
  }
}
@media (max-width: 1599px) {
  .jxc-col-xl-24.jxc-form-item-label {
    padding: 0 0 8px;
    line-height: 1.5715;
    white-space: initial;
    text-align: left;
  }
  .jxc-col-xl-24.jxc-form-item-label > label {
    margin: 0;
  }
  .jxc-col-xl-24.jxc-form-item-label > label::after {
    display: none;
  }
  .jxc-form-rtl.jxc-col-xl-24.jxc-form-item-label {
    text-align: right;
  }
}
.jxc-form-item {
  /* Some non-status related component style is in `components.less` */
  /* To support leave along ErrorList. We add additional className to handle explain style */
}
.jxc-form-item-explain.jxc-form-item-explain-error {
  color: #ff6060;
}
.jxc-form-item-explain.jxc-form-item-explain-warning {
  color: #ff6d1e;
}
.jxc-form-item-has-feedback .jxc-input {
  padding-right: 24px;
}
.jxc-form-item-has-feedback .jxc-input-affix-wrapper .jxc-input-suffix {
  padding-right: 18px;
}
.jxc-form-item-has-feedback .jxc-input-search:not(.jxc-input-search-enter-button) .jxc-input-suffix {
  right: 28px;
}
.jxc-form-item-has-feedback .jxc-switch {
  margin: 2px 0 4px;
}
.jxc-form-item-has-feedback > .jxc-select .jxc-select-arrow,
.jxc-form-item-has-feedback > .jxc-select .jxc-select-clear,
.jxc-form-item-has-feedback :not(.jxc-input-group-addon) > .jxc-select .jxc-select-arrow,
.jxc-form-item-has-feedback :not(.jxc-input-group-addon) > .jxc-select .jxc-select-clear {
  right: 32px;
}
.jxc-form-item-has-feedback > .jxc-select .jxc-select-selection-selected-value,
.jxc-form-item-has-feedback :not(.jxc-input-group-addon) > .jxc-select .jxc-select-selection-selected-value {
  padding-right: 42px;
}
.jxc-form-item-has-feedback .jxc-cascader-picker-arrow {
  margin-right: 19px;
}
.jxc-form-item-has-feedback .jxc-cascader-picker-clear {
  right: 32px;
}
.jxc-form-item-has-feedback .jxc-picker {
  padding-right: 27.9px;
}
.jxc-form-item-has-feedback .jxc-picker-large {
  padding-right: 27.9px;
}
.jxc-form-item-has-feedback .jxc-picker-small {
  padding-right: 23.9px;
}
.jxc-form-item-has-feedback.jxc-form-item-has-success .jxc-form-item-children-icon,
.jxc-form-item-has-feedback.jxc-form-item-has-warning .jxc-form-item-children-icon,
.jxc-form-item-has-feedback.jxc-form-item-has-error .jxc-form-item-children-icon,
.jxc-form-item-has-feedback.jxc-form-item-is-validating .jxc-form-item-children-icon {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  width: 32px;
  height: 20px;
  margin-top: -10px;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  visibility: visible;
  animation: zoomIn 0.3s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  pointer-events: none;
}
.jxc-form-item-has-success.jxc-form-item-has-feedback .jxc-form-item-children-icon {
  color: #2b9262;
  animation-name: diffZoomIn1 !important;
}
.jxc-form-item-has-warning .jxc-form-item-split {
  color: #ff6d1e;
}
.jxc-form-item-has-warning .jxc-input,
.jxc-form-item-has-warning .jxc-input-affix-wrapper,
.jxc-form-item-has-warning .jxc-input:hover,
.jxc-form-item-has-warning .jxc-input-affix-wrapper:hover {
  background-color: #fff;
  border-color: #ff6d1e;
}
.jxc-form-item-has-warning .jxc-input:focus,
.jxc-form-item-has-warning .jxc-input-affix-wrapper:focus,
.jxc-form-item-has-warning .jxc-input-focused,
.jxc-form-item-has-warning .jxc-input-affix-wrapper-focused {
  border-color: #ff8e47;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(255, 109, 30, 0.2);
}
.jxc-form-item-has-warning .jxc-input-disabled {
  background-color: #f5f5f5;
  border-color: #d2d2d2;
}
.jxc-form-item-has-warning .jxc-input-affix-wrapper-disabled {
  background-color: #f5f5f5;
  border-color: #d2d2d2;
}
.jxc-form-item-has-warning .jxc-input-affix-wrapper-disabled input:focus {
  box-shadow: none !important;
}
.jxc-form-item-has-warning .jxc-calendar-picker-open .jxc-calendar-picker-input {
  border-color: #ff8e47;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(255, 109, 30, 0.2);
}
.jxc-form-item-has-warning .jxc-input-prefix {
  color: #ff6d1e;
}
.jxc-form-item-has-warning .jxc-input-group-addon {
  color: #ff6d1e;
  border-color: #ff6d1e;
}
.jxc-form-item-has-warning .has-feedback {
  color: #ff6d1e;
}
.jxc-form-item-has-warning.jxc-form-item-has-feedback .jxc-form-item-children-icon {
  color: #ff6d1e;
  animation-name: diffZoomIn3 !important;
}
.jxc-form-item-has-warning .jxc-select:not(.jxc-select-disabled):not(.jxc-select-customize-input) .jxc-select-selector {
  background-color: #fff;
  border-color: #ff6d1e !important;
}
.jxc-form-item-has-warning .jxc-select:not(.jxc-select-disabled):not(.jxc-select-customize-input).jxc-select-open .jxc-select-selector,
.jxc-form-item-has-warning .jxc-select:not(.jxc-select-disabled):not(.jxc-select-customize-input).jxc-select-focused .jxc-select-selector {
  border-color: #ff8e47;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(255, 109, 30, 0.2);
}
.jxc-form-item-has-warning .jxc-input-number,
.jxc-form-item-has-warning .jxc-picker {
  background-color: #fff;
  border-color: #ff6d1e;
}
.jxc-form-item-has-warning .jxc-input-number-focused,
.jxc-form-item-has-warning .jxc-picker-focused,
.jxc-form-item-has-warning .jxc-input-number:focus,
.jxc-form-item-has-warning .jxc-picker:focus {
  border-color: #ff8e47;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(255, 109, 30, 0.2);
}
.jxc-form-item-has-warning .jxc-input-number:not([disabled]):hover,
.jxc-form-item-has-warning .jxc-picker:not([disabled]):hover {
  background-color: #fff;
  border-color: #ff6d1e;
}
.jxc-form-item-has-warning .jxc-cascader-picker:focus .jxc-cascader-input {
  border-color: #ff8e47;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(255, 109, 30, 0.2);
}
.jxc-form-item-has-error .jxc-form-item-split {
  color: #ff6060;
}
.jxc-form-item-has-error .jxc-input,
.jxc-form-item-has-error .jxc-input-affix-wrapper,
.jxc-form-item-has-error .jxc-input:hover,
.jxc-form-item-has-error .jxc-input-affix-wrapper:hover {
  background-color: #fff;
  border-color: #ff6060;
}
.jxc-form-item-has-error .jxc-input:focus,
.jxc-form-item-has-error .jxc-input-affix-wrapper:focus,
.jxc-form-item-has-error .jxc-input-focused,
.jxc-form-item-has-error .jxc-input-affix-wrapper-focused {
  border-color: #ff8e8a;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(255, 96, 96, 0.2);
}
.jxc-form-item-has-error .jxc-input-disabled {
  background-color: #f5f5f5;
  border-color: #d2d2d2;
}
.jxc-form-item-has-error .jxc-input-affix-wrapper-disabled {
  background-color: #f5f5f5;
  border-color: #d2d2d2;
}
.jxc-form-item-has-error .jxc-input-affix-wrapper-disabled input:focus {
  box-shadow: none !important;
}
.jxc-form-item-has-error .jxc-calendar-picker-open .jxc-calendar-picker-input {
  border-color: #ff8e8a;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(255, 96, 96, 0.2);
}
.jxc-form-item-has-error .jxc-input-prefix {
  color: #ff6060;
}
.jxc-form-item-has-error .jxc-input-group-addon {
  color: #ff6060;
  border-color: #ff6060;
}
.jxc-form-item-has-error .has-feedback {
  color: #ff6060;
}
.jxc-form-item-has-error.jxc-form-item-has-feedback .jxc-form-item-children-icon {
  color: #ff6060;
  animation-name: diffZoomIn2 !important;
}
.jxc-form-item-has-error .jxc-select:not(.jxc-select-disabled):not(.jxc-select-customize-input) .jxc-select-selector {
  background-color: #fff;
  border-color: #ff6060 !important;
}
.jxc-form-item-has-error .jxc-select:not(.jxc-select-disabled):not(.jxc-select-customize-input).jxc-select-open .jxc-select-selector,
.jxc-form-item-has-error .jxc-select:not(.jxc-select-disabled):not(.jxc-select-customize-input).jxc-select-focused .jxc-select-selector {
  border-color: #ff8e8a;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(255, 96, 96, 0.2);
}
.jxc-form-item-has-error .jxc-input-group-addon .jxc-select.jxc-select-single:not(.jxc-select-customize-input) .jxc-select-selector {
  border: 0;
}
.jxc-form-item-has-error .jxc-select.jxc-select-auto-complete .jxc-input:focus {
  border-color: #ff6060;
}
.jxc-form-item-has-error .jxc-input-number,
.jxc-form-item-has-error .jxc-picker {
  background-color: #fff;
  border-color: #ff6060;
}
.jxc-form-item-has-error .jxc-input-number-focused,
.jxc-form-item-has-error .jxc-picker-focused,
.jxc-form-item-has-error .jxc-input-number:focus,
.jxc-form-item-has-error .jxc-picker:focus {
  border-color: #ff8e8a;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(255, 96, 96, 0.2);
}
.jxc-form-item-has-error .jxc-input-number:not([disabled]):hover,
.jxc-form-item-has-error .jxc-picker:not([disabled]):hover {
  background-color: #fff;
  border-color: #ff6060;
}
.jxc-form-item-has-error .jxc-mention-wrapper .jxc-mention-editor,
.jxc-form-item-has-error .jxc-mention-wrapper .jxc-mention-editor:not([disabled]):hover {
  background-color: #fff;
  border-color: #ff6060;
}
.jxc-form-item-has-error .jxc-mention-wrapper.jxc-mention-active:not([disabled]) .jxc-mention-editor,
.jxc-form-item-has-error .jxc-mention-wrapper .jxc-mention-editor:not([disabled]):focus {
  border-color: #ff8e8a;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(255, 96, 96, 0.2);
}
.jxc-form-item-has-error .jxc-cascader-picker:focus .jxc-cascader-input {
  background-color: #fff;
  border-color: #ff8e8a;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(255, 96, 96, 0.2);
}
.jxc-form-item-has-error .jxc-transfer-list {
  border-color: #ff6060;
}
.jxc-form-item-has-error .jxc-transfer-list-search:not([disabled]) {
  border-color: #d2d2d2;
}
.jxc-form-item-has-error .jxc-transfer-list-search:not([disabled]):hover {
  border-color: #479e73;
  border-right-width: 1px !important;
}
.jxc-form-item-has-error .jxc-transfer-list-search:not([disabled]):focus {
  border-color: #479e73;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(43, 146, 98, 0.2);
}
.jxc-form-item-has-error .jxc-radio-button-wrapper {
  border-color: #ff6060 !important;
}
.jxc-form-item-has-error .jxc-radio-button-wrapper:not(:first-child)::before {
  background-color: #ff6060;
}
.jxc-form-item-is-validating.jxc-form-item-has-feedback .jxc-form-item-children-icon {
  display: inline-block;
  color: #2b9262;
}
.jxc-form {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #222;
  font-size: 13px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
}
.jxc-form legend {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 0;
  color: #222;
  font-size: 15px;
  line-height: inherit;
  border: 0;
  border-bottom: 1px solid #d2d2d2;
}
.jxc-form label {
  font-size: 13px;
}
.jxc-form input[type='search'] {
  box-sizing: border-box;
}
.jxc-form input[type='radio'],
.jxc-form input[type='checkbox'] {
  line-height: normal;
}
.jxc-form input[type='file'] {
  display: block;
}
.jxc-form input[type='range'] {
  display: block;
  width: 100%;
}
.jxc-form select[multiple],
.jxc-form select[size] {
  height: auto;
}
.jxc-form input[type='file']:focus,
.jxc-form input[type='radio']:focus,
.jxc-form input[type='checkbox']:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.jxc-form output {
  display: block;
  padding-top: 15px;
  color: #222;
  font-size: 13px;
  line-height: 1.5715;
}
.jxc-form .jxc-form-text {
  display: inline-block;
  padding-right: 8px;
}
.jxc-form-small .jxc-form-item-label > label {
  height: 24px;
}
.jxc-form-small .jxc-form-item-control-input {
  min-height: 24px;
}
.jxc-form-large .jxc-form-item-label > label {
  height: 40px;
}
.jxc-form-large .jxc-form-item-control-input {
  min-height: 40px;
}
.jxc-form-item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #222;
  font-size: 13px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  margin-bottom: 24px;
  vertical-align: top;
}
.jxc-form-item-with-help {
  margin-bottom: 0;
}
.jxc-form-item-hidden,
.jxc-form-item-hidden.jxc-row {
  display: none;
}
.jxc-form-item-label {
  display: inline-block;
  flex-grow: 0;
  overflow: hidden;
  white-space: nowrap;
  text-align: right;
  vertical-align: middle;
}
.jxc-form-item-label-left {
  text-align: left;
}
.jxc-form-item-label > label {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 32px;
  color: #222;
  font-size: 13px;
}
.jxc-form-item-label > label > .anticon {
  font-size: 13px;
  vertical-align: top;
}
.jxc-form-item-label > label.jxc-form-item-required:not(.jxc-form-item-required-mark-optional)::before {
  display: inline-block;
  margin-right: 4px;
  color: #ff4d4f;
  font-size: 13px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: '*';
}
.jxc-form-hide-required-mark .jxc-form-item-label > label.jxc-form-item-required:not(.jxc-form-item-required-mark-optional)::before {
  display: none;
}
.jxc-form-item-label > label .jxc-form-item-optional {
  display: inline-block;
  margin-left: 4px;
  color: #222;
}
.jxc-form-hide-required-mark .jxc-form-item-label > label .jxc-form-item-optional {
  display: none;
}
.jxc-form-item-label > label .jxc-form-item-tooltip {
  writing-mode: horizontal-tb;
  margin-inline-start: 4px;
  color: #222;
}
.jxc-form-item-label > label::after {
  content: ':';
  position: relative;
  top: -0.5px;
  margin: 0 8px 0 2px;
}
.jxc-form-item-label > label.jxc-form-item-no-colon::after {
  content: ' ';
}
.jxc-form-item-control {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.jxc-form-item-control:first-child:not([class^='jxc-col-']):not([class*=' jxc-col-']) {
  width: 100%;
}
.jxc-form-item-control-input {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 32px;
}
.jxc-form-item-control-input-content {
  flex: auto;
  max-width: 100%;
}
.jxc-form-item-explain,
.jxc-form-item-extra {
  clear: both;
  min-height: 24px;
  padding-top: 1px;
  color: #222;
  font-size: 13px;
  line-height: 1.5715;
  transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.jxc-form-item .jxc-input-textarea-show-count::after {
  position: absolute;
  bottom: -22px;
  width: 100%;
}
.show-help-enter,
.show-help-appear {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.show-help-leave {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.show-help-enter.show-help-enter-active,
.show-help-appear.show-help-appear-active {
  animation-name: antShowHelpIn;
  animation-play-state: running;
}
.show-help-leave.show-help-leave-active {
  animation-name: antShowHelpOut;
  animation-play-state: running;
  pointer-events: none;
}
.show-help-enter,
.show-help-appear {
  opacity: 0;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
.show-help-leave {
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
@keyframes antShowHelpIn {
  0% {
    transform: translateY(-5px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes antShowHelpOut {
  to {
    transform: translateY(-5px);
    opacity: 0;
  }
}
@keyframes diffZoomIn1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes diffZoomIn2 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes diffZoomIn3 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.jxc-form-rtl {
  direction: rtl;
}
.jxc-form-rtl .jxc-form-item-label {
  text-align: left;
}
.jxc-form-rtl .jxc-form-item-label > label.jxc-form-item-required::before {
  margin-right: 0;
  margin-left: 4px;
}
.jxc-form-rtl .jxc-form-item-label > label::after {
  margin: 0 2px 0 8px;
}
.jxc-form-rtl .jxc-form-item-label > label .jxc-form-item-optional {
  margin-right: 4px;
  margin-left: 0;
}
.jxc-col-rtl .jxc-form-item-control:first-child {
  width: 100%;
}
.jxc-form-rtl .jxc-form-item-has-feedback .jxc-input {
  padding-right: 11px;
  padding-left: 24px;
}
.jxc-form-rtl .jxc-form-item-has-feedback .jxc-input-affix-wrapper .jxc-input-suffix {
  padding-right: 11px;
  padding-left: 18px;
}
.jxc-form-rtl .jxc-form-item-has-feedback .jxc-input-affix-wrapper .jxc-input {
  padding: 0;
}
.jxc-form-rtl .jxc-form-item-has-feedback .jxc-input-search:not(.jxc-input-search-enter-button) .jxc-input-suffix {
  right: auto;
  left: 28px;
}
.jxc-form-rtl .jxc-form-item-has-feedback .jxc-input-number {
  padding-left: 18px;
}
.jxc-form-rtl .jxc-form-item-has-feedback > .jxc-select .jxc-select-arrow,
.jxc-form-rtl .jxc-form-item-has-feedback > .jxc-select .jxc-select-clear,
.jxc-form-rtl .jxc-form-item-has-feedback :not(.jxc-input-group-addon) > .jxc-select .jxc-select-arrow,
.jxc-form-rtl .jxc-form-item-has-feedback :not(.jxc-input-group-addon) > .jxc-select .jxc-select-clear {
  right: auto;
  left: 32px;
}
.jxc-form-rtl .jxc-form-item-has-feedback > .jxc-select .jxc-select-selection-selected-value,
.jxc-form-rtl .jxc-form-item-has-feedback :not(.jxc-input-group-addon) > .jxc-select .jxc-select-selection-selected-value {
  padding-right: 0;
  padding-left: 42px;
}
.jxc-form-rtl .jxc-form-item-has-feedback .jxc-cascader-picker-arrow {
  margin-right: 0;
  margin-left: 19px;
}
.jxc-form-rtl .jxc-form-item-has-feedback .jxc-cascader-picker-clear {
  right: auto;
  left: 32px;
}
.jxc-form-rtl .jxc-form-item-has-feedback .jxc-picker {
  padding-right: 11px;
  padding-left: 27.9px;
}
.jxc-form-rtl .jxc-form-item-has-feedback .jxc-picker-large {
  padding-right: 11px;
  padding-left: 27.9px;
}
.jxc-form-rtl .jxc-form-item-has-feedback .jxc-picker-small {
  padding-right: 7px;
  padding-left: 23.9px;
}
.jxc-form-rtl .jxc-form-item-has-feedback.jxc-form-item-has-success .jxc-form-item-children-icon,
.jxc-form-rtl .jxc-form-item-has-feedback.jxc-form-item-has-warning .jxc-form-item-children-icon,
.jxc-form-rtl .jxc-form-item-has-feedback.jxc-form-item-has-error .jxc-form-item-children-icon,
.jxc-form-rtl .jxc-form-item-has-feedback.jxc-form-item-is-validating .jxc-form-item-children-icon {
  right: auto;
  left: 0;
}
.jxc-form-rtl.jxc-form-inline .jxc-form-item {
  margin-right: 0;
  margin-left: 16px;
}
