/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.aeps-alert {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #222;
  font-size: 13px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px 15px;
  word-wrap: break-word;
  border-radius: 2px;
}
.aeps-alert-content {
  flex: 1;
  min-width: 0;
}
.aeps-alert-icon {
  margin-right: 8px;
}
.aeps-alert-description {
  display: none;
  font-size: 13px;
  line-height: 21px;
}
.aeps-alert-success {
  background-color: #c5d1c9;
  border: 1px solid #8db8a0;
}
.aeps-alert-success .aeps-alert-icon {
  color: #2b9262;
}
.aeps-alert-info {
  background-color: #fff6f0;
  border: 1px solid #ffcfb5;
}
.aeps-alert-info .aeps-alert-icon {
  color: #e76135;
}
.aeps-alert-warning {
  background-color: #fff5eb;
  border: 1px solid #ffc799;
}
.aeps-alert-warning .aeps-alert-icon {
  color: #ff6d1e;
}
.aeps-alert-error {
  background-color: #fff2f0;
  border: 1px solid #ffdfdb;
}
.aeps-alert-error .aeps-alert-icon {
  color: #ff6060;
}
.aeps-alert-error .aeps-alert-description > pre {
  margin: 0;
  padding: 0;
}
.aeps-alert-action {
  margin-left: 8px;
}
.aeps-alert-close-icon {
  margin-left: 8px;
  padding: 0;
  overflow: hidden;
  font-size: 12px;
  line-height: 12px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.aeps-alert-close-icon .anticon-close {
  color: #222;
  transition: color 0.3s;
}
.aeps-alert-close-icon .anticon-close:hover {
  color: rgba(0, 0, 0, 0.75);
}
.aeps-alert-close-text {
  color: #222;
  transition: color 0.3s;
}
.aeps-alert-close-text:hover {
  color: rgba(0, 0, 0, 0.75);
}
.aeps-alert-with-description {
  align-items: flex-start;
  padding: 15px 15px 15px 24px;
}
.aeps-alert-with-description.aeps-alert-no-icon {
  padding: 15px 15px;
}
.aeps-alert-with-description .aeps-alert-icon {
  margin-right: 15px;
  font-size: 24px;
}
.aeps-alert-with-description .aeps-alert-message {
  display: block;
  margin-bottom: 4px;
  color: #222;
  font-size: 15px;
}
.aeps-alert-message {
  color: #222;
}
.aeps-alert-with-description .aeps-alert-description {
  display: block;
}
.aeps-alert.aeps-alert-motion-leave {
  overflow: hidden;
  opacity: 1;
  transition: max-height 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86), opacity 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86), padding-top 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86), padding-bottom 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86), margin-bottom 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.aeps-alert.aeps-alert-motion-leave-active {
  max-height: 0;
  margin-bottom: 0 !important;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
}
.aeps-alert-banner {
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
}
.aeps-alert.aeps-alert-rtl {
  direction: rtl;
}
.aeps-alert-rtl.aeps-alert.aeps-alert-no-icon {
  padding: 8px 15px;
}
.aeps-alert-rtl .aeps-alert-icon {
  margin-right: auto;
  margin-left: 8px;
}
.aeps-alert-rtl .aeps-alert-action {
  margin-right: 8px;
  margin-left: auto;
}
.aeps-alert-rtl .aeps-alert-close-icon {
  margin-right: 8px;
  margin-left: auto;
}
.aeps-alert-rtl.aeps-alert-with-description .aeps-alert-icon {
  margin-right: auto;
  margin-left: 15px;
}
